{% extends "base_simple.html" %}

{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" href="{% static 'scripts/login.css' %}" type="text/css">
{% endblock %}

{% block title %}
    Вход на сайт
{% endblock %}

{% block content %}
  <div class="main-content">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="login-container">

          <div class="space-20"></div>
          <div class="center">
            <img src="{% static 'images/logo_crop.png' %}"></img>
          </div>

          <div class="position-relative">
            <div class="signup-box visible widget-box no-border">
              <div class="widget-body">
                <div class="widget-main">

                  <div class="space-10"></div>

                  {% if form.non_field_errors %}
                    <div class="alert alert-danger center">
                      {{ form.non_field_errors }}
                    </div>
                  {% endif %}

                  <form id="form-login" class="validate-form" action="{% url 'django.contrib.auth.views.login' %}" method="post">
                    {% csrf_token %}
                      <fieldset>
                        <div class="form-group">
                          <label class="block clearfix" for="{{ form.username.id_for_label }}">
                            <span class="block input-icon input-icon-right">
                              <input id="id_username" maxlength="254" class="form-control validate[required]" placeholder="Имя пользователя" name="username" type="text">
                              <i class="icon-user"></i>
                            </span>
                          </label>
                        </div>
                      </fieldset>

                      <fieldset>
                        <div class="form-group">
                          <label class="block clearfix" for="{{ form.password.id_for_label }}">
                            <span class="block input-icon input-icon-right">
                              <input id="id_password" class="form-control validate[required]" placeholder="Пароль" name="password" type="password">
                              <i class="icon-lock"></i>
                            </span>
                          </label>
                        </div>
                      </fieldset>

                      <div class="space"></div>

                      <div class="clearfix">
                        <input name="next" value="/" type="hidden">
                        <button class="btn-block btn btn-sm btn-primary" type="submit">Войти</button>
                      </div>

                      <hr>
                  </form>
                </div>

                <div class="center">
                  <a href="{% url 'auth_password_reset' %}">Я забыл пароль</a>
                  <div class="space-10"></div>
                  <div class="bigger-120">
                    <a href="{% url 'registration_register' %}">Регистрация</a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% comment %}
**registration/login.html**

It's your responsibility to provide the login form in a template called
registration/login.html by default. This template gets passed four
template context variables:

``form``
    A Form object representing the login form. See the forms
    documentation for more on Form objects.

``next``
    The URL to redirect to after successful login. This may contain a
    query string, too.

``site``
    The current Site, according to the SITE_ID setting. If you don't
    have the site framework installed, this will be set to an instance
    of RequestSite, which derives the site name and domain from the
    current HttpRequest.

``site_name``
    An alias for site.name. If you don't have the site framework
    installed, this will be set to the value of
    request.META['SERVER_NAME']. For more on sites, see The
    "sites" framework.
{% endcomment %}