{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}Пароль изменён{% endblock %}

{% block content %}
<p>Пароль успешно изменён</p>
<p><a href="{% url "index" %}">На главную</a></p>
{% endblock %}


{# This is used by django.contrib.auth #}