{% extends "base.html" %}
{% load staticfiles %}

{% block title %}FAQ{% endblock %}

{% block content %}
  <div class="container">
    <div class="panel-group" id="accordion">

      <div class="faqHeader">Ответы на вопросы</div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Сколько сейчас свободно ресурсов?</a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            Свободно <strong>{{ ip_free }}</strong> из {{ ip_all }} Jupyter серверов
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Как это работает?</a>
          </h4>
        </div>
        <div id="collapseTen" class="panel-collapse collapse">
          <div class="panel-body">
            Для запуска Jupyter серверов используется BuildStack(обёртка над API OpenStack для запуска docker-контейнеров)
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">У меня есть идеи, как улучшить сервис, кому мне написать?</a>
          </h4>
        </div>
        <div id="collapseEleven" class="panel-collapse collapse">
          <div class="panel-body">
            Любые предложения и замечания направляйте по адресу dima[at]mail.ru
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1">Команда сервиса</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body">
            Сервис разработан командой OpenStack Research в рамках курса промышленное программирование МФТИ ФИВТ весна 2015. Ресурсы для размещения предоставлены "Лабораторией облачной инфраструктуры" МФТИ.
          </div>
        </div>
      </div>

    </div>
  </div>

  <style>
    .faqHeader {
      font-size: 27px;
      margin: 20px;
    }
  </style>
{% endblock %}