{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="{% static 'images/favicon.ico' %}" rel="shortcut icon">
    <link rel="stylesheet" href="{% static 'scripts/login.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'scripts/font-awesome.min.css' %}">
    <script type="text/javascript" src="{% static 'scripts/menu_popup.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>

    {% block head %}{% endblock %}
  </head>
  <body>

      <div id="navbar" class="navbar navbar-default">
        <div id="navbar-container" class="navbar-container">
          <div class="navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
              <li>
                <a id="open-slack" style="padding-left:10px; padding-right: 10px;" href="#">
                  <!-- Test -->
                </a>
              </li>
              <li>
                <a id="Intercom" class="open-support-widget" style="padding-left:10px; padding-right: 10px;" href="#">
                  <!-- <i class="icon-comment"></i> -->
                  <!-- Test -->
                </a>
              </li>
              <li>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <img class="nav-user-photo" src="{% static 'images/avatar.jpg' %}" style="width:40px;height:40px;">
                  <span class="user-info">
                    <small>Welcome,</small>
                    {{ user.username }}
                  </span>
                  <i class="icon-caret-down"></i>
                </a>
                <ul class="user-menu pull-right dropdown-menu dropdown-caret dropdown-close">
                  <li>
                    <a href="{% url "logout" %}">
                      <i class="icon-off"></i>
                      Logout
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>


<div id="main-container" class="main-container"></div>
<div class="main-container-inner">
  <div class="main-content">
  <div class="page-content">
    <div class="row full-width-row">
      <div class="col-xs-12">
        <div class="row">


          <div class="col-sm-2">
            <ul id="user-account-nav" class="nav nav-pills nav-stacked" style="margin:0px;">
              <li {% if active_page == 'index' %} class="active" {% endif %}>

                <a href="{% url 'profile_main' %}"><i class="icon-cloud bigger-110"></i>
                Jupyter сервера</a>
              </li>
              <li {% if active_page == 'sandbox' %} class="active" {% endif %}>
                <!-- Test -->
              </li>
              <li>
                <a class='password' data-toggle='tab' href='#container-password'>
                  <i class='icon-key bigger-110'></i>
                  <!-- Test -->
                </a>
              </li>
              <li>
                <a class='notifications' data-toggle='tab' href='#container-notifications'>
                  <i class='icon-inbox bigger-110'></i>
                  <!-- Test -->
                </a>
              </li>
              <li>
                <a class='oauth-services' data-toggle='tab' href='#container-oauth-services'>
                  <i class='icon-puzzle-piece bigger-110'></i>
                  <!-- Test -->
                </a>
              </li>
            </ul>
          </div>


          <div class="col-sm-10">
            <div class="tabbable">
              <div class="tab-content" style="border:0px;">
                <div id="container-node-providers" class="tab-pane active">

                    <div id="no-providers-alert" class="row">
                      <div class="alert alert-warning center">
                        <b>
                          <i class="icon-info-sign bigger-120"></i>
                          Сервис работает в тестовом режиме, обо всех проблемах просьба сообщать <a href="mailto:dima-iv@mail.ru">администрации</a>
                        </b>
                      </div>
                    </div>


                  {% block top %}{% endblock %}


                    {% block content %}{% endblock %}


                </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  </div>
</div>

</body>
</html>