{% extends "profile/base.html" %}
{% load staticfiles %}

{% block title %}Личный кабинет, {{user.username}}{% endblock %}

{% block head %}
  <script type="text/javascript" src="{% static 'scripts/jquery.countdown.js' %}"></script>
{% endblock %}

{% block content %}

  <center>
    {% if ip_free %}
      <form action="/run/jupyter/" method="post">
        {% csrf_token %}
        <input type="text" name="password" placeholder="Введите пароль"> </input>
        <button type="submit" class="btn btn-success">Дай погонять!</button>
      </form>
    {% else %}
      <p>Нет свободных серверов, попробуйте зайти позже</p>
    {% endif %}
  </center>

  </br>

  <div class="row">
    <div class="table-responsive">
      <table id="node-providers-table" class="table table-striped table-hover actions-table">
        <thead>
          <tr>
            <th style="width:25%;">Адрес</th>
            <th style="width:25%;">Времени осталось</th>
            <th class="text-center" style="width:15%;">Статус</th>
            <th class="text-center" style="width:35%;">Действие</th>
          </tr>
        </thead>
        <tbody>
          {% for instance in instances %}
            <tr>
              <td class="vertical-center">
                <a target="_blank" href="{{instance.publicIp.publicUrl}}">{{instance.publicIp.publicUrl}}
                <i class="icon-external-link"></i>
                </a>
              </td>

              <td class="user-cell vertical-center">
                <div class="aws-not-linked" style="">
                  <!-- <span class="text-muted"></span> -->
                  <div id="getting-started"></div>
                </div>
              </td>

              <td class="text-center vertical-center status">
                {% if instance.status == "Active" %}
                    <i class="icon-ok-sign green bigger-130"></i>
                {% else %}
                    <i class="icon-remove-sign red bigger-130"></i>
                {% endif %}
              </td>

              <td class="text-center vertical-center">
                <p class="text-danger"><a href="/delete/{{instance.id}}">завершить</a></p>
              </td>

            </tr>

            <script type="text/javascript">
              var a = new Date(Date.UTC({{ instance.endDate|date:'Y,m,d,H,i,s'}}))
              $("#getting-started")
              .countdown(a, function(event) {
                $(this).text(
                  event.strftime('%H:%M:%S')
                );
              });
            </script>

          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>





{% endblock %}