{% extends "profile/base.html" %}

{% block title %}
	{% if error_message %}
		Кажется что-то пошло не так
	{% else %}
		Сервер получен
	{% endif %}
{% endblock %}

{% block content %}
	{% if error_message %}
		{% if error_message == "Only one server" %}
			<p>Вам доступен только один сервер</p>
			<p>Вы должны завершить текущий сервер, что получить новый</p>
            <p>О правилах сервиса читайте на странице <a target="_blank" href="{% url "faq" %}">FAQ</a></p>
		{% endif %}
        {% if error_message == "No public urls" %}
          <p>Кажется у нас закончились сервера</p>
          <p>Попробуйте обратиться позже</p>
        {% endif %}
        {% if error_message == "Server error" %}
          <p>Кажется всё сломалось, но мы уже знаем об этом</p>
          <p>Но на всякий случай можете написать на dima-iv@mail.ru</p>
        {% endif %}
        {% if error_message == "Money problem" %}
          <p>Кажется у вас недостаточно денег на счету</p>
        {% endif %}
	{% else %}
		<p>Поздравляем! Вы получили персональный Jupyter сервер, доступный по адресу <a target="_blank" href="{{ publicUrl }}">{{ publicUrl }}</a></p>
		<p>Он будет доступен в течение 8-ми часов, после чего будет автоматически удалён</p>
		<p>Постарайтесь закончить свои исследования вовремя :)</p>
	{% endif %}
	Для продолжения работы вернуться <a href={% url 'profile_main' %}>назад</a>
{% endblock %}