
body {
	background:#FFF;
	font-family:'Open Sans',sans-serif!important;
	font-size:14px;
	line-height:23px;
	font-weight:300;
	-webkit-font-smoothing:antialiased;
	color:#616161;
} iframe{
	border:0;
	margin-top:0!important;
}

p,ul{}a{
	color:#7a92ac;
	cursor:pointer;
}a:hover{
	color:#1998E2;
	text-decoration:underline;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.35s;
}.wf-loading h1,.wf-loading h2,.wf-loading h3,.wf-loading h4,.wf-loading h5{visibility:hidden;}.wf-active h1,.wf-active h2,.wf-active h3,.wf-active h4,.wf-active h5{visibility:visible;}.no-padding{padding:0!important;}.no-margin{margin:0!important;}.p-15{padding:15px!important;}.p-50{padding:50px 0!important;}.pb-10{padding-bottom:10px;}.pb-20{padding-bottom:20px;}.pt-10{padding-top:10px;}.pt-20{padding-top:20px;}.pl-20{padding-left:20px;}.mt-20{margin-top:20px;}.mb-20{margin-bottom:20px;}.padding-y-10{padding:10px 0;}.padding-x-4{padding:0 4px;}.padding-x-8{padding:0 8px;}.padding-x-16{padding:0 16px;}.padding-x-20{padding:0 20px;}.padding-x-32{padding:0 32x;}.padding-y-20{padding:20px 0!important;}.margin-b-10{margin-bottom:10px;}.margin-b-20{margin-bottom:20px;}.margin-t-15{margin-top:15px;}.margin-t-20{margin-top:20px;}.margin-y-10{margin:10px 0;}.margin-y-20{margin:20px 0;}.margin-x-20{margin:0 20px;}.strong{font-weight:bold!important;}.img-center{display:block;margin-left:auto;margin-right:auto}.c-1{color:#19172f;}.c-2{color:#07a2ca;}.bg-1{background:url(../images/bg-section-fill.gif) repeat;color:#ababac;}.bg-1 .strong{color:#FFF;}.bg-2{background:#0096e5;color:#FFF;}.bg-2-c{background:#0096e5;color:#FFF;}.bg-3{background:#FFF;color:#616161;}.bg-4{background:#EEF1F2;color:#616161;}.bg-5{background:#fcfcfc;border-top:1px solid #f3f3f3;border-bottom:1px solid #f3f3f3;}.bg-6{background:-webkit-linear-gradient(#e7eff2,#FFF);background:-o-linear-gradient(#e7eff2,#FFF);background:-moz-linear-gradient(#e7eff2,#FFF);background:linear-gradient(#e7eff2,#FFF);}.bg-7{background-image:url(../images/bg-cloud.png);background-image:url(../images/bg-cloud.png),-webkit-linear-gradient(0deg,#48B1E8,#0096E5);background-image:url(../images/bg-cloud.png),-o-linear-gradient(0deg,#48B1E8,#0096E5);background-image:url(../images/bg-cloud.png),-moz-linear-gradient(0deg,#48B1E8,#0096E5);background-image:url(../images/bg-cloud.png),linear-gradient(0deg,#48B1E8,#0096E5);background-repeat:no-repeat;background-size:cover;}.bg-8{background:-webkit-linear-gradient(0deg,#48B1E8,#0096E5);background:-o-linear-gradient(0deg,#48B1E8,#0096E5);background:-moz-linear-gradient(0deg,#48B1E8,#0096E5);background:linear-gradient(0deg,#48B1E8,#0096E5);}.bg-9{background:-webkit-linear-gradient(-45deg,#EEF1F2,#FFF);background:-o-linear-gradient(-45deg,#EEF1F2,#FFF);background:-moz-linear-gradient(-45deg,#EEF1F2,#FFF);background:linear-gradient(90deg,#EEF1F2,#FFF);}.bg-10{background:-webkit-linear-gradient(45deg,#FFF,#EEF1F2);background:-o-linear-gradient(45deg,#FFF,#EEF1F2);background:-moz-linear-gradient(45deg,#FFF,#EEF1F2);background:linear-gradient(45deg,#FFF,#EEF1F2);}.bg-footer{background:#000;border-top:1px solid #f3f3f3;border-bottom:1px solid #f3f3f3;}.dark{background:#333;color:#FFF;}.red{background:#0096e5;color:#FFF;}.orange{background:#f39c12;color:#FFF;}.green{background:#2ecc71;color:#FFF;}.blue{background:#3498db;color:#FFF;}.light{background:#FFF;color:#616161!important;}.bg-banner-1{padding:54px 0!important;background:url(../images/tutum-back01.jpg) repeat-y fixed;color:#fff;}.bg-banner-2{padding:54px 0!important;background:url(../images/prv/banner-img-1.jpg) no-repeat fixed;color:#fff;}.delimiter-xs{display:block;margin:25px 0;width:10%;height:6px;background:#ef7f1a;position:relative;left:45%;border-radius:3px;}.indicator-down{position:absolute;bottom:-12px;left:50%;margin-left:-12px;width:0;height:0;border-left:12px solid transparent;border-right:12px solid transparent;border-top:12px solid #ef7f1a;z-index:900;}.indicator-down.color-one{border-top-color:#1998E2;background:none;}.indicator-down.color-two{border-top-color:#697e93;background:none;}.indicator-down.color-two-d{border-top-color:#3b3e43;background:none;}.indicator-down.color-two-l{border-top-color:#bacce2;background:none;}.indicator-down.color-three{border-top-color:#FFF;background:none;}.img-thumbnail{border-radius:0;}.blockquote-1{margin-top:20px;}.blockquote-1:hover{border-color:#0096e5;}.blockquote-1 p{font-size:14px;line-height:22px;}.section-title{margin:0 0 15px 0;padding:0 0 8px 0;font-size:18px;font-weight:500;color:#333;text-transform:capitalize;position:relative;overflow:hidden;}.section-title strong{color:#0096e5;font-weight:500;}.section-title:after{content:"";height:1px;background:#333;width:80px;position:absolute;top:26px;left:0;}.section-title.white{color:#fff;background:none;}.section-title.white:after{background:#fff;}h1.font-lg{font-size:100px;font-weight:600;color:#6f6f6f;}header{padding:0;}header .header-bottom{height:10px;background:#FFF;-webkit-box-shadow:0 1px 10px rgba(0,0,0,0.1);-moz-box-shadow:0 1px 10px rgba(0,0,0,.1);box-shadow:0 1px 10px rgba(0,0,0,0.1);}header .navbar-default{margin:0;padding:14px 0;background:url(../images/bg-header-fill-1.gif) repeat;border:0;border-radius:0;}header .navbar-brand{padding:0 15px;margin-top:14px;border:1px solid transparent;border-radius:3px;}header .navbar-brand:hover{}header .navbar-brand img{height:46px;}.navbar-default .navbar-nav>li>a{color:#FFF;padding:13px 16px;margin-right:4px;font-size:15px;}.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus{color:#FFF;background-color:#1998E2;border-radius:3px;}.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus{color:#9ab2cc;background-color:#1998E2;border-radius:3px;}.navbar-default .navbar-nav>.disabled>a,.navbar-default .navbar-nav>.disabled>a:hover,.navbar-default .navbar-nav>.disabled>a:focus{color:#cccccc;background-color:transparent;}.navbar-default .navbar-toggle{border-color:#1998E2;}.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{background-color:#1998E2;}.navbar-default .navbar-toggle .icon-bar{background-color:#1998E2;}.navbar-default .navbar-collapse,.navbar-default .navbar-form{border-color:#e7e7e7;}.navbar-default .navbar-nav>.dropdown>a:hover .caret,.navbar-default .navbar-nav>.dropdown>a:focus .caret{border-top-color:#FFF;border-bottom-color:#FFF;}.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a:focus{color:#FFF;background-color:#1998E2;}.navbar-default .navbar-nav>.open>a .caret,.navbar-default .navbar-nav>.open>a:hover .caret,.navbar-default .navbar-nav>.open>a:focus .caret{border-top-color:#FFF;border-bottom-color:#FFF;}.navbar-default .navbar-nav>.dropdown>a .caret{border-top-color:#FFF;border-bottom-color:#FFF;}.navbar-default .dropdown-menu{margin-top:19px;}.navbar-default .dropdown-menu:after,.arrow_box:before{bottom:100%;left:86%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;}.navbar-default .dropdown-menu:after{border-color:rgba(255,255,255,0);border-bottom-color:#FFF;border-width:10px;margin-left:-10px;}.navbar-default .dropdown-menu:before{border-color:rgba(255,255,255,0);border-bottom-color:#FFF;border-width:10px;margin-left:-10px;}.navbar-default .dropdown-menu>li{border-bottom:1px solid #f6f6f6;}.navbar-default .dropdown-menu>li:last-child{border:0;}.navbar-default .dropdown-menu>li>a{padding:8px 15px;}.navbar-default .dropdown-menu>li>a:hover{background:#1998E2;color:#FFF;}.navbar-default .dropdown-form-toggle{background:#313131;border-radius:3px;}.navbar-white{margin:0;padding:0;background:#0096e5;border:0;border-bottom:0px solid #fff;border-radius:0;z-index:1000;}.navbar-white .navbar-nav>li>a{color:#fff;padding:28px 16px;font-size:15px;font-weight:normal;}.navbar-white .navbar-nav>li>a.dropdown-form-toggle{color:#fff;background:#0096E5;padding:14px 16px;margin-top:14px;margin-right:4px;font-size:15px;font-weight:normal;}.navbar-white .navbar-nav>li>a:hover,.navbar-white .navbar-nav>li>a:focus{color:#0096e5;background-color:#fff;}.navbar-white .navbar-nav>.active>a,.navbar-white .navbar-nav>.active>a:hover,.navbar-white .navbar-nav>.active>a:focus{color:#9ab2cc;background-color:#FFF;border-radius:3px;}.navbar-white .navbar-nav>.disabled>a,.navbar-white .navbar-nav>.disabled>a:hover,.navbar-white .navbar-nav>.disabled>a:focus{color:#cccccc;background-color:transparent;}.navbar-white .navbar-toggle{border-color:#fff;margin-top:20px;}.navbar-white .navbar-toggle .icon-bar{background-color:#fff;}.navbar-white .navbar-toggle:hover,.navbar-white .navbar-toggle:focus{background-color:#0096e5;border-color:#0096e5;}.navbar-white .navbar-toggle:hover .icon-bar,.navbar-white .navbar-toggle:focus .icon-bar{background-color:#FFF;}.navbar-white .navbar-toggle:hover .icon-search,.navbar-white .navbar-toggle:focus .icon-search{color:#FFF;}.navbar-white .navbar-collapse,.navbar-white .navbar-form{border-color:#e7e7e7;}.navbar-white .navbar-nav>.dropdown>a:hover .caret,.navbar-white .navbar-nav>.dropdown>a:focus .caret{border-top-color:#FFF;border-bottom-color:#FFF;}.navbar-white .navbar-nav>.open>a,.navbar-white .navbar-nav>.open>a:hover,.navbar-white .navbar-nav>.open>a:focus{color:#0096e5;background-color:#FFF;}.navbar-white .navbar-nav>.open>a .caret,.navbar-white .navbar-nav>.open>a:hover .caret,.navbar-white .navbar-nav>.open>a:focus .caret{border-top-color:#FFF;border-bottom-color:#FFF;}.navbar-white .navbar-nav>.dropdown>a .caret{border-top-color:#4c4c4c;border-bottom-color:#4c4c4c;}.navbar-white .dropdown-menu{min-width:180px;background:#FFF;border:0;border-top:1px solid #0096e5;border-bottom:3px solid #0096e5;border-radius:0;}.navbar-white .dropdown-menu:after,.arrow_box:before{bottom:100%;left:86%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;}.navbar-white .dropdown-menu:after{border-color:rgba(231,76,60,0);border-bottom-color:#009;border-width:px;margin-left:0;}.navbar-white .dropdown-menu:before{border-color:rgba(231,76,60,0);border-bottom-color:#fff;border-width:10px;margin-left:0;}.navbar-white .dropdown-menu-user:after{border-color:rgba(231,76,60,0);border-bottom-color:#0096e5;border-width:10px;margin-left:24px;}.navbar-white .dropdown-menu-user:before{border-color:rgba(231,76,60,0);border-bottom-color:#0096e5;border-width:10px;margin-left:-10px;}.navbar-white .dropdown-menu>li{border-bottom:1px solid #eee;}.navbar-white .dropdown-menu>li:last-child{border:0;}.navbar-white .dropdown-menu>li>a{color:#FFF;padding:8px 15px;}.navbar-white .dropdown-menu>li>a:hover{background:#0096e5;color:#FFF;}.navbar-white .dropdown-menu label.checkbox{color:#4c4c4c;}.navbar-white .dropdown-form h4{margin:0;padding:15px 15px 5px 15px;color:#FFF;}.navbar-white h4{color:#FFF;}@media (min-width: 767px) {.navbar-white .dropdown-menu>li>a{color:#4c4c4c;padding:8px 15px;}}.dropdown-form{min-width:400px;z-index:500;}.dropdown-cart{min-width:400px;padding:15px;}.dropdown-menu h4{font-size:14px;color:#4c4c4c;}.dropdown-profile{padding:15px;}.dropdown-profile img{width:60px;}.dropdown-style-switcher{min-width:400px;}.dropdown-style-switcher .scheme-switch-btn{padding:15px;}.dropdown-style-switcher .scheme-switch-btn a{width:60px;height:60px;display:inline-block;margin-right:14px;border:6px solid transparent;border-radius:3px;}.dropdown-style-switcher .scheme-switch-btn a:nth-child(5){margin-right:0;}.dropdown-style-switcher .scheme-switch-btn a.default{background:#1998E2;border-color:#697e93;}.dropdown-style-switcher .scheme-switch-btn a.one{background:#ff6766;border-color:#2d8b8a;}.dropdown-style-switcher .scheme-switch-btn a.two{background:#de0000;border-color:#1a1a1a;}.dropdown-style-switcher .scheme-switch-btn a.three{background:#f1c40f;border-color:#2c3e50;}.dropdown-style-switcher .scheme-switch-btn a.four{background:#76d691;border-color:#2d2d2d;}.dropdown-style-switcher .scheme-switch-btn a.five{background:#FFF;border-color:#000;}.search-wr{width:100%;height:110px;background:#FFF;position:fixed;top:0;z-index:2200;display:none;-webkit-box-shadow:0 1px 10px rgba(0,0,0,0.1);-moz-box-shadow:0 1px 10px rgba(0,0,0,.1);box-shadow:0 1px 10px rgba(0,0,0,0.1);}.search-wr .close{display:block;width:22px;height:22px;position:relative;float:right;top:10px;right:10px;}.search-wr .close i{font-size:20px;color:#555;}.search-wr .search-sign i{font-size:60px;line-height:110px;color:#DDD;}.global-search-input{padding:40px 0 0 0;font-size:20px;position:relative;width:740px;background:#fff;z-index:10;border:none;outline:none;color:#DDD;}.global-search-input:focus{color:#333;}.pg-opt{border-bottom:1px solid #e0eded;background:#f8f8f8;}.pg-opt.fixed{width:100%;position:fixed;top:0px;background:rgba(250,250,250,0.9);border-bottom:1px solid #e1e1e1;z-index:900;}.pg-opt h2{margin:0;padding:14px 0;font-size:22px;line-height:100%;}.pg-opt.fixed h2{margin-bottom:15px;}.pg-opt hr{margin:0;border-top-color:#dde1e6;-webkit-box-shadow:0 1px 0 #fbfbfc;-moz-box-shadow:0 1px 0 #fbfbfc;box-shadow:0 1px 0 #fbfbfc;}.pg-opt.fixed hr{display:none;}.pg-opt .breadcrumb{float:right;margin:0;padding:16px 0;background:none;border-radius:0;}.pg-opt .breadcrumb a{color:#1998E2;}@media only screen and (max-width: 767px) {.pg-opt .pg-nav{float:left;margin-bottom:10px;}.pg-opt h2{padding:20px 0 0 0;}}.carousel-1{}.carousel-1 .carousel-inner{height:440px;background:#f0f0f0;}.carousel-1 .carousel-inner{overflow:hidden;}.carousel-1 .carousel-control i{position:absolute;top:50%;margin-top:-18px;font-size:36px;font-weight:600;}.carousel-1 .item{height:440px;}.carousel-1 .item{background-repeat:no-repeat;background-size:cover;background-position:0% 0%;}.carousel-1 .item-dark{color:#FFF;}.carousel-1 .item-light{color:#FFF}.carousel-1 p{font-size:16px;}.carousel-1 .object{position:absolute;top:38px;right:50%;margin-left:15px;width:568px;height:320px;overflow:hidden;}.carousel-1 .object.fluid{width:100%;left:0;margin:0;}.carousel-1 .object iframe{width:100%!important;}.carousel-1 .object img{}.carousel-1 .description{position:absolute;top:55px;left:50%;margin-left:50px;width:514px;height:290px;}.carousel-1 .description .title{font-size:32px;margin:0 0 15px 0;padding:8px 20px;line-height:38px;background:#FFF;color:#616161;}.carousel-1 .description .subtitle{font-size:24px;margin:20px 0;padding:0;display:block;}.carousel-1 .description p{font-size:16px;color:#FFF;margin:0;}.carousel-1 .description p.text-box{}.carousel-1 .description.fluid-center{width:100%;top:50px;left:0;margin:0;}.carousel-1 .description.fluid-center .title{margin-bottom:5px;display:block;text-align:center;background:none;color:#FFF;font-weight:500;text-shadow:1px 1px 3px rgba(150,150,150,0.5);}.carousel-1 .description.fluid-center .subtitle{font-size:20px;margin:0;display:block;text-align:center;}.carousel-1 .description.fluid-center .features{display:block;margin-top:40px;text-align:center;}.carousel-1 .description.fluid-center .features i{width:110px;height:110px;background:#FFF;text-align:center;line-height:110px;font-size:54px;color:#697e93;font-weight:700;border-radius:96px;margin-right:20px;}.carousel-2{}.carousel-2 .item{padding:36px 0!important;}.carousel-2 .carousel-indicators{width:auto;padding:6px 18px;border-radius:3px;top:16px;bottom:auto;left:auto;right:8%;margin-left:0;}.carousel-2 .img-thumbnail{margin-top:26px;}.carousel-2 h2{font-size:22px;}.carousel-2 .carousel-control{position:absolute;width:48px;height:48px;border-radius:80px;position:absolute;top:50%;margin-top:-24px;padding:10px 0;text-align:center;border:1px solid transparent;text-shadow:none;background:#f8f8f8;color:#0096e5;opacity:1;}.carousel-2 .carousel-control:hover{background:#0096e5;color:#fff;}.carousel-2 .carousel-control.left{background-image:none;left:30px;}.carousel-2 .carousel-control.right{background-image:none;right:30px;}.carousel-2 .carousel-control i{position:absolute;top:50%;font-size:22px;margin-top:-11px;}.carousel-2 .carousel-control.left i{left:18px;}.carousel-2 .carousel-control.right i{right:18px;}.carousel-3 .carousel-nav{}.carousel-3 .carousel-nav a{width:48px;height:48px;line-height:24px;border-radius:80px;position:absolute;top:50%;margin-top:-24px;padding:10px 0;font-size:22px;text-align:center;border:1px solid transparent;background:#f8f8f8;color:#0096e5;opacity:1;}.carousel-3 .carousel-nav a:hover{background:#0096e5!important;color:#fff;}.carousel-3 .carousel-nav a.left{left:18px;}.carousel-3 .carousel-nav a.right{right:18px;}.carousel-3 .carousel-nav a:hover{background:#FFF;}.carousel-4{}.carousel-4 .carousel-inner{}.carousel-4 .carousel-inner{overflow:hidden;}.carousel-4 .carousel-control i{position:absolute;top:50%;margin-top:-18px;font-size:36px;font-weight:600;}.slider-wrapper *{-moz-box-sizing:content-box;}.slider-wrapper{position:relative;overflow:hidden;width:100%;max-height:440px;margin:0 auto;background:#f2f2f2;z-index:800;}.slider{position:relative;width:100%;margin:0 auto;background:#f2f2f2;}.slider-wrapper p{position:absolute;top:-200px;z-index:8000;padding:1% 2%;font-size:24px;line-height:100%;white-space:nowrap;text-transform:uppercase;}.slider-wrapper .white{color:#FFF;}.slider-wrapper .claim{line-height:100%}.slider-wrapper .teaser{font-size:14px;line-height:100%}.slider-wrapper .small{width:250px;text-align:center;}.slider-wrapper .video{width:540px;height:360px;font-size:13px;line-height:18px;white-space:normal;text-align:left;text-transform:none;}.slider-wrapper .video iframe{width:100%;}.slider-wrapper .text{width:460px;font-size:13px;padding:0 2%;line-height:18px;white-space:normal;text-align:left;text-transform:none;}.slider-wrapper .text a{margin-top:20px;}.cta-wr{padding:16px 0;}.cta-wr h1{margin:10px 0!important;font-size:20px;line-height:26px;font-weight:400;}section.slice{padding:30px 0;position:relative;}section.topslice{padding-top:100px;}section.slicewhite{background:#fff;}.subsection{margin-top:30px;}.container.bordered{border:1px solid #ddd;padding-top:15px;}.w-box{margin:0 0 15px 0;background:#FFF;-webkit-transition:all 0.3s linear;transition:all 0.3s linear;position:relative;overflow:hidden;cursor:default;border:1px solid #e0eded;}.w-box:before,.w-box:after{display:table;content:"";}.w-box:after{clear:both;}.w-box h1{margin:0;padding:10px 15px;font-weight:500;font-size:20px;}.w-box h2{margin:0;padding:12px 15px 0px 15px;font-weight:500;font-size:16px;color:#333;}.w-box.inner h2{padding:10px 0;}.w-box small{display:block;font-size:12px;margin-top:3px;}.w-box p{margin:6px 0;padding:0 15px;padding-bottom:8px;}.w-box p.social-icons{margin:0;padding:5px 15px;border-top:1px solid #f1f1f1;}.w-box p.social-icons a{display:inline-block;margin-right:5px;width:38px;padding:6px 0;text-align:center;font-size:14px;background:none;color:#7a92ac;border-radius:2px;border:1px solid #7a92ac;}.w-box p.social-icons a:hover{background:#7a92ac;color:#fff;}.w-box time{display:block;padding:8px 15px 0 15px;}.w-box .w-footer{padding:10px 15px;border-top:1px solid #f1f1f1;}.w-box .w-footer:before,.w-box .w-footer:after{display:table;content:"";}.w-box .w-footer:after{clear:both;}.w-box .w-footer small{font-size:12px;}.w-box .w-box-parent{-webkit-transition:all 0.3s linear;transition:all 0.3s linear;}.w-box .date-over{padding:10px;background:rgb(255,255,255);color:#7a92ac;position:absolute;top:15px;right:15px;text-align:center;}.w-box .date-over.small{padding:4px 8px;font-size:12px;}.w-box .date-over strong{font-size:12px;display:block;}.w-box:hover .w-box-parent{-webkit-transform:translateY(-40px);-moz-transform:translateY(-0px);-ms-transform:translateY(-0px);-o-transform:translateY(-0px);-webkit-transition:-webkit-transform 0.4s;-moz-transition:-moz-transform 0.4s;-o-transition:-o-transform 0.4s;transition:transform 0.4s;}.w-box .w-box-parent .w-box-button.animated{position:absolute;bottom:10px;margin-bottom:-40px;-webkit-transition:all 0.3s linear;transition:all 0.3s linear;}.w-box.w-box-inverse{background:none!important;border:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}.w-box.w-box-inverse p{padding:0;}.w-box.w-box-inverse h1{margin:10px 0 0 0;padding:10px 0;font-weight:500;font-size:20px;}.w-box.w-box-inverse h2{margin:15px 0 0 0;padding:0;font-weight:500;font-size:16px;text-transform:none;border:0;text-align:center;}.w-box.w-box-inverse h2 i{font-style:normal;}.w-box.w-box-inverse ul.meta-list{maring:0;padding:0;}.w-box.w-box-inverse .w-footer{padding:10px 0;}.w-box.w-box-inverse .thmb-img{text-align:center;}.w-box.w-box-inverse .thmb-img i{background:#f8f8f8;width:80px;height:80px;border-radius:80px;font-size:28px;line-height:80px;text-align:center;color:#0096e5;}.w-box.w-box-inverse .thmb-img:hover i{background:#0096e5;color:#FFF;}.w-box.w-box-inverse .thmb-img:hover img{content:url(../images/docker-white.png);}.w-box.dark{background:#313d50;}.w-box.dark p{color:#f1f1f1;}.w-box.dark h2{color:#FFF;text-align:center;margin-bottom:7px;}.w-box.dark .thmb-img{text-align:center;padding:15px 0;}.w-box.dark .thmb-img i{font-size:64px;color:#FFF;}.w-box.white{background:#FFF;}.w-box.white p{}.w-box.white h2{border-bottom:0;text-align:center;}.w-box.white .thmb-img{text-align:center;padding:15px 0;}.w-box.white .thmb-img i{font-size:64px;color:#616161;}.w-box.product{background:#FFF;padding-top:15px;margin-bottom:20px;}.w-box.product .figure{padding:20px;}.w-box.product p{text-align:center;}.w-box.product h2{border-bottom:0;text-align:center;}.w-box.product .thmb-img{text-align:center;padding:15px 0;}.w-box.product .thmb-img i{font-size:64px;color:#616161;}.w-box.product .price{padding:4px 0;}.w-box.inverse{background:none;border:0;}.w-box.inverse p{padding:4px 0;}.w-box.inverse h2{padding:10px 0 0 0;border-bottom:0;}.w-box.inverse .thmb-img{padding:15px 0;}.w-box.inverse .thmb-img i{font-size:64px;color:#616161;}.w-box.inverse .social-icons{border:0;}.w-section{background:#FFF;}.w-section:before,.w-section:after{display:table;content:" ";}.w-section:after{clear:both;}.w-section.inverse{background:none!important;-moz-box-shadow:0 0 0;-webkit-box-shadow:0 0 0;box-shadow:0 0 0;border:0;}.w-section.inner{margin:15px 0;}.w-section iframe{width:100%;}.w-section .feature{margin:15px 0 30px 0;text-align:center;cursor:default;}.w-section .feature i{font-size:64px;color:#555;display:block;}.w-section .feature h4{margin:10px 0;}.w-section .aside-feature{margin:10px;cursor:default;}.w-section .aside-feature .icon-feature{font-size:68px;margin-top:10px;text-align:center;display:block;}.w-section .aside-feature:hover .icon-feature,.w-section .aside-feature:hover h4{color:#0096e5;}.w-section .aside-feature .img-feature{margin-top:4px;display:block;}.w-section .aside-feature .img-feature img{width:78px;}.w-section .aside-feature h4{margin:10px 0;}.w-section .aside-feature p{}.w-section .txt-feature{margin:15px 0 30px 0;cursor:default;}.w-section .txt-feature h4{margin:0;padding:0;margin-bottom:10px;font-weight:500;}.w-section .txt-fly-over{height:350px;overflow:hidden;position:absolute;top:-90px;z-index:1000;padding:20px;}.w-section .txt-fly-over h1{padding:0;margin:0;margin-bottom:10px;font-size:54px;font-weight:600;color:#FFF;}.w-section .txt-fly-over h2{padding:0;margin:0 0 20px 0;font-size:24px;font-weight:500;}.w-section .inline-features{}.w-section .inline-features i{display:block;margin-bottom:15px;height:64px;line-height:64px;text-align:center;font-size:40px;background:rgb(85,85,85);color:#fff;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}.w-section .inline-features i:hover{background:rgb(117,185,24);}.w-section .contrast-box{padding:15px;margin-bottom:20px;border-radius:3px;border:1px solid #f3f3f3;}.w-section .contrast-box i{font-size:24px;margin-right:8px;}.w-section .contrast-box small{display:block;margin-top:12px;font-style:italic;text-align:right;}.shop .pagination{margin:0;}.shop .product-gallery{}.shop .product-short-info p{padding:6px 0;margin:0;}.shop .primary-image{border:1px solid #f3f3f3;padding:10px;}.shop .thumbnail-images{margin:10px 0 25px 0;}.shop .thumbnail-images a{display:inline-block;width:100px;height:100px;padding:10px;overflow:hidden;margin-right:5px;border:1px solid #f3f3f3;}.shop .thumbnail-images a:last-child{margin:0;}.shop .thumbnail-images a img{width:100%;}.table-cart{border:1px solid #ddd;}.table-cart td{vertical-align:middle;}.table-cart td:first-child{border-right:1px solid #ddd;}.table-cart img{width:80px;}.dropdown-cart .table-cart img{width:50px;}.table-cart .cart-remove{display:block;text-align:center;color:#e80e1d;}.table-totals td:nth-child(even){padding:5px 15px;}.shop .invoice-header{}.animate-hover-slide .figure{position:relative;overflow:hidden;}.animate-hover-slide .figure img{-webkit-transition:-webkit-transform 0.4s,opacity 0.1s 0.3s;-moz-transition:-moz-transform 0.4s,opacity 0.1s 0.3s;-o-transition:-o-transform 0.4s,opacity 0.1s 0.3s;transition:transform 0.4s,opacity 0.1s 0.3s;}.animate-hover-slide .figure:hover img{-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);}.animate-hover-slide .figure .figcaption{height:100%;padding:0 15px;width:100%;position:absolute;left:0;top:auto;bottom:0;opacity:0;-webkit-transform:translateY(100%);-moz-transform:translateY(100%);-ms-transform:translateY(100%);-o-transform:translateY(100%);-webkit-transition:-webkit-transform 0.4s,opacity 0.1s 0.3s;-moz-transition:-moz-transform 0.4s,opacity 0.1s 0.3s;-o-transition:-o-transform 0.4s,opacity 0.1s 0.3s;transition:transform 0.4s,opacity 0.1s 0.3s;}.animate-hover-slide .figure:hover .figcaption{opacity:0.8;-webkit-transform:translateY(0px);-moz-transform:translateY(0px);-ms-transform:translateY(0px);-o-transform:translateY(0px);-webkit-transition:-webkit-transform 0.4s,opacity 0.1s;-moz-transition:-moz-transform 0.4s,opacity 0.1s;-o-transition:-o-transform 0.4s,opacity 0.1s;transition:transform 0.4s,opacity 0.1s;}.animate-hover-slide .figure .figcaption{text-align:center;}.animate-hover-slide .figure .figcaption-btn{width:100%;height:100%;position:absolute;top:0px;opacity:0;padding-left:0px;text-align:center;-webkit-transform:translateY(-100%);-moz-transform:translateY(-100%);-ms-transform:translateY(-100%);-o-transform:translateY(-100%);-webkit-transition:-webkit-transform 0.4s,opacity 0.1s 0.3s;-moz-transition:-moz-transform 0.4s,opacity 0.1s 0.3s;-o-transition:-o-transform 0.4s,opacity 0.1s 0.3s;transition:transform 0.4s,opacity 0.1s 0.3s;}.animate-hover-slide .figure:hover .figcaption-btn{opacity:1;-webkit-transform:translateY(0px);-moz-transform:translateY(0px);-ms-transform:translateY(0px);-o-transform:translateY(0px);-webkit-transition:-webkit-transform 0.4s,opacity 0.1s;-moz-transition:-moz-transform 0.4s,opacity 0.1s;-o-transition:-o-transform 0.4s,opacity 0.1s;transition:transform 0.4s,opacity 0.1s;}.animate-hover-slide .figure a{position:relative;top:50%;margin-top:-11px;}.animate-hover-slide .figure .figcaption h3{padding-bottom:5px;margin-bottom:10px;font-size:14px;font-weight:600;border-bottom:1px solid #f2f2f2;}.pricing-plans{margin-bottom:15px;}.pricing-plans:before,.pricing-plans:after,.pricing-table:before,.pricing-table:after{display:table;content:" ";}.pricing-plans:before,.pricing-table:before{clear:both;}.pricing-plans .plan-header{padding-bottom:15px;}.pricing-plans .plan-header .popular-tag{background:#313d50;border-bottom:1px solid #FFF;color:#fff;padding:5px 0;text-align:center;text-transform:uppercase;}.pricing-plans .plan-header small{display:block;text-align:center;font-style:italic;}.pricing-plans .plan-title{text-align:center;margin:0;font-size:28px;font-weight:500;color:#fff;}.pricing-plans .price-tag{margin:0;height:70px;line-height:70px;font-size:58px;font-weight:500;text-align:center;}.pricing-plans .price-tag span{font-size:28px;font-weight:500;}.pricing-plans .price-tag span.price-type{font-size:20px;font-weight:500;}.pricing-plans ul{margin:0;padding:0;list-style:none;}.pricing-plans ul li{padding:10px 20px;border-bottom:1px solid #f1f1f1;font-size:13px}.pricing-plans ul li:last-child{border-bottom:0;}.pricing-plans ul li i{margin-right:8px;}.pricing-plans .plan-info{margin:0;padding:15px;font-size:13px;text-align:center;font-style:italic;}.pricing-plans .plan-select{padding:15px 0;border-top:1px solid #f1f1f1;}.pricing-plans .plan-circle{height:263px;padding:0 25px;display:table-cell;vertical-align:middle;border-radius:200%;}.pricing-plans .plan-circle .btn{margin-top:10px;}.pricing-plans .plan-circle-2{}.pricing-plans .w-box{margin-top:20px;}.pricing-plans .w-box:hover,.pricing-table .w-box:hover{-webkit-box-shadow:0 -4px 14px rgba(0,0,0,0.2);-moz-box-shadow:0 -4px 14px rgba(0,0,0,0.2);box-shadow:0 -4px 14px rgba(0,0,0,0.2);}.pricing-plans .w-box-inverse:hover,.pricing-table .w-box-inverse:hover{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}.pricing-table .w-box{z-index:1;margin-top:20px;margin-bottom:0;-webkit-box-shadow:none;-moz-box-shadow:0;box-shadow:none;}.pricing-table .w-box.popular,.pricing-plans .w-box.popular{margin-top:0;-webkit-box-shadow:0 -4px 14px rgba(0,0,0,0.2);-moz-box-shadow:0 -4px 14px rgba(0,0,0,0.2);box-shadow:0 -4px 14px rgba(0,0,0,0.2);}.pricing-table .w-box.popular:hover,.pricing-plans .w-box.popular:hover{-webkit-box-shadow:0 -4px 14px rgba(0,0,0,0.3);-moz-box-shadow:0 -4px 14px rgba(0,0,0,0.3);box-shadow:0 -4px 14px rgba(0,0,0,0.3);}.pricing-table .price-tag{}.pricing-table .w-box.popular .price-tag{}.pricing-table .plan-select{margin-top:0;border:0;margin-bottom:15px;border-bottom:1px solid #f1f1f1;}.pricing-table .plan-info{text-align:center;margin-bottom:15px;}.pricing-table .table-comparision{background:#FFF;position:relative;top:-2px;z-index:1000;border-color:#f1f1f1;color:#777;}.pricing-table .table-comparision th{border-color:#f1f1f1;}.pricing-table .table-comparision td{text-align:center;border-color:#f1f1f1;}.pricing-table .table-comparision tr td:first-child{text-align:left;}.timeline{}.timeline .year{width:20px;background:#0096e5;padding:10px 2px;margin:20px auto 40px!important;font-size:20px}.timeline .year{border-radius:3px;}.timeline .event{padding:0;border:1px solid #f3f3f3;border-radius:0;}.timeline .event:nth-child(2n) .event-date{}.timeline .event:nth-child(2n-1) .event-date{}.timeline .event:nth-child(2n):before{content:"";display:inline-block;position:absolute;right:-6.6%!important;top:20px;width:10px;height:10px;background:#1998E2;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;}.timeline .event:nth-child(2n-1):after{content:"";display:inline-block;position:absolute;left:-12px!important;top:12px;width:0;height:0;border-right:12px solid #FFF;border-top:12px solid transparent;border-bottom:12px solid transparent}.timeline .event:nth-child(2n-1):before{content:"";display:inline-block;position:absolute;left:-6.5%!important;top:20px;width:10px;height:10px;background:#1998E2;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%}.timeline .event-date{margin:0;background:#FFF;border-bottom:1px solid #ddd;text-align:left;padding:10px 10px;font-weight:500;font-size:14px;}.timeline .event:nth-child(2n) .event-date:after{content:"";display:inline-block;position:absolute;right:-12px!important;top:12px;width:0;height:0;border-left:12px solid #fff;border-top:12px solid transparent;border-bottom:12px solid transparent;z-index:20;}.timeline .event:nth-child(2n) .event-date:before{content:"";display:inline-block;position:absolute;top:11px;right:-13px;width:0;height:0;border-left:13px solid #ddd;border-top:13px solid transparent;border-bottom:13px solid transparent;z-index:0;}.timeline .event:nth-child(2n-1) .event-date:after{content:"";display:inline-block;position:absolute;left:-12px!important;top:12px;width:0;height:0;border-right:12px solid #fff;border-top:12px solid transparent;border-bottom:12px solid transparent;z-index:20;}.timeline .event:nth-child(2n-1) .event-date:before{content:"";display:inline-block;position:absolute;top:11px;left:-13px;width:0;height:0;border-right:13px solid #ddd;border-top:13px solid transparent;border-bottom:13px solid transparent;z-index:0;}.timeline .event-date small{display:block;font-size:12px;color:#a1a1a1;font-weight:normal;}.timeline .event-date i{margin-right:7px}.timeline .event-body{background:#f8f8f8;}.timeline .event-footer{margin:0;text-align:left;padding:8px 10px;background:none;border-top:1px solid #f3f3f3;}.timeline .event-footer:after,.timeline .event-footer:before{display:table;content:" ";}.timeline .event-footer:after{clear:both;}.timeline .event img{margin:0;}.timeline p{padding:20px 10px;text-align:left;}.timeline iframe{margin:10px 0 0 0;}.work .btn-group{margin-bottom:10px;}.work .btn{margin-right:6px;}.work .btn-group .btn{margin-right:0;}.work .mix{margin-top:20px;}.vertical-info h4{margin:0;padding:0;font-size:16px;}.vertical-info p.delimiter{margin:10px 0;padding-bottom:10px;border-bottom:1px solid #e0dede;}.like-button .button{display:block;text-align:right;padding-top:10px;color:#ddd;}.like-button .button i{font-size:20px;color:#ddd;}.like-button .button.liked i{color:#0096e5;}.like-button .count{display:block;text-align:right;position:relative;top:-7px;}.like-button.inline .button{display:inline-block;padding:0;}.like-button.inline .count{display:inline-block;top:-2px;}.like-button.inline .count small{font-size:13px;}.side-like-box{text-align:center;padding:5px 5px 0 5px;margin-top:10px;}.side-like-box .button{text-align:center;padding:0;}.side-like-box .count{text-align:center;}.side-like-box i{font-size:24px;}#ulSorList{}#ulSorList:after{content:'';display:inline-block;width:100%;}#ulSorList .mix{display:none;opacity:0;margin-top:20px;}#ulSorList .mix .item{background:#f2f2f2;}#ulSorList .gap{display:inline-block;width:200px;}.map-canvas{height:300px;margin:0;}.map-canvas .info-window-content{min-width:250px;}.map-canvas .info-window-content h2{font-size:18px;font-weight:600;margin-bottom:8px;}.map-canvas .info-window-content h3{font-size:14px;font-weight:500;}.map-canvas .info-window-content p{margin-top:20px;text-align:center;font-size:12px;color:#999;text-shadow:none;}.comments-wr{padding:0 15px;}.comments-wr .comment:before,.comments-wr .comment:after{display:table;content:" ";}.comments-wr .comment:after{clear:both;}.comments-wr .comment{border-bottom:1px solid #eee;padding:15px 0;}.comments-wr .comment:last-child{border-bottom:0;}.comments-wr .comment p{padding:0;}.comments-wr .comment .comment{margin:12px 0 0 60px;padding-bottom:0;border-bottom:0;border-top:1px solid #eee;}.comments-wr .comment img{width:48px;float:left;}.comments-wr .comment p{margin-left:60px;color:#777;}.comments-wr .comment .comment-author{display:block;}.comments-wr .comment .comment-author a{font-weight:600;}.comment-form{padding:15px 15px;}.comment-form h2{margin-bottom:15px;}.widget{margin-bottom:20px;}.widget-highlight{padding:15px;background:#fcfcfc;border:1px solid #f3f3f3;}.widget.tags-wr{padding-bottom:15px;}.tags-list:before,.tags-list:after{display:table;content:"";}.tags-list:after{clear:both;}.tags-list{list-style:none;padding-left:0;margin:0;}.tags-list li{border:1px solid #ecf0f1;background:#FFF;padding:5px;float:left;margin-right:5px;margin-bottom:5px;color:#999;font-size:12px;}.tags-list li a{color:#7a92ac;margin-left:4px;}.tags-list li:hover{background:#7a92ac;color:#FFF;}.tags-list li:hover a{color:#FFF;text-decoration:none;}.video-container iframe{margin:0;border:0;}.media-photos-list{padding-left:0;list-style:none;margin-bottom:0;overflow:hidden;}.media-photos-list>li{float:left;margin-right:6px;margin-bottom:6px;}.media-photos-list>li img{width:60px;height:60px;-webkit-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}.media-photos-list>li img:hover{opacity:0.65;filter:alpha(opacity=65);}ul.list-1{padding:0;margin:0;list-style:none;}ul.list-1 li{margin:15px 0;}ul.list-1 time{float:left;display:inline-block;background:#0096e5;color:#FFF;font-weight:600;padding:5px 8px;border-radius:2px;}ul.list-1 .txt:before{content:"";position:absolute;margin-left:-10px;margin-top:6px;width:0;height:0;border-top:10px solid transparent;border-right:10px solid #f3f3f3;border-bottom:10px solid transparent;}ul.list-1 .txt{margin-left:62px;margin-top:20px;background:#f3f3f3;}ul.list-1 .txt p{padding:8px 15px;margin:0;}ul.list-2{-webkit-padding-start:20px;margin:15px 0;}ul.list-2 li{padding-left:15px;list-style-type:none;background:url(../images/list-style-2.png) no-repeat 0 8px;color:#555;}ul.list-2 li a{color:#555;}ul.list-2 li a:hover{color:rgb(131,174,52);text-decoration:none;}ul.list-3{margin:0;list-style:none;}ul.list-3 li{height:58px;background:#f2f2f2;overflow:hidden;margin-bottom:13px;}ul.list-3 li .list-order{width:58px;height:58px;position:relative;float:left;text-align:center;line-height:60px;background:#75b918;font-size:30px;font-weight:600;color:#FFF;}ul.list-3 li .list-order:after{position:absolute;top:50%;right:0px;border:7px solid transparent;height:1px;width:0;border-right-color:#f2f2f2;margin-top:-7px;content:'';}ul.list-3 li .list-content{float:left;height:58px;margin-left:8px;}ul.list-3 li .list-content h5{font-size:15px;font-weight:600;margin:8px 0 4px 0;}ul.list-3 li .list-content p{}ul.popular{list-style:none;margin:0;padding:0;}ul.popular li{clear:left;border-bottom:1px dotted #f1f1f1;padding:10px 0;display:block;width:100%;}ul.popular li img{width:60px;}ul.popular li p{margin-left:70px;}ul.popular li i{color:#a1a1a1;display:block;font-style:normal;font-size:12px;}ul.popular li a{font-weight:400;line-height:18px;}ul.popular li a:hover{text-decoration:none;color:#464646;}ul.popular li span{font-size:12px;}ul.featured{list-style:none;margin:0;padding:0;}ul.featured li{clear:left;border-bottom:1px dotted #f1f1f1;padding:10px 0 0 0;display:block;width:100%;}ul.featured li img{width:70px;}ul.featured li p{margin-left:80px;}ul.featured li i{color:#a1a1a1;display:block;font-style:normal;font-size:12px;}ul.featured li a{font-weight:500;}ul.featured li a:hover{text-decoration:none;color:#464646;}ul.featured li span{font-size:12px;}ul.featured li .price{font-size:16px;font-weight:500;margin-top:5px;}ul.featured li .price.discount{text-decoration:line-through;color:#0096e5;font-size:13px;margin-right:8px;}ul.categories{list-style:none;margin:0;padding:0!important;border:1px solid #f3f3f3;overflow:hidden;}ul.categories li{border-bottom:1px solid #f3f3f3;}ul.categories li:last-child{border:0;}ul.categories.highlight li{}ul.categories li a{display:block;padding:10px 15px;}ul.categories li a:hover{background:#7a92ac;color:#FFF;text-decoration:none;}ul.categories li a i{float:right;font-style:normal;color:#999;font-size:11px;}ul.categories li a:hover i{color:#FFF;}ul.recent{list-style:none;margin:0;padding:0;}ul.recent li{border-bottom:1px dotted #e9e9e9;}ul.recent li:last-child{border:0;padding-bottom:0;}ul.recent li a{display:block;padding:10px 0;}ul.recent li a:hover{border-color:#75b918;}ul.recent li h6{margin:0 0 10px 0;}ul.recent li h6 a{color:#353535;font-size:14px;text-transform:none;text-decoration:none;font-weight:600;}ul.list-check{list-style:none;margin:0;margin-bottom:15px;padding:0;}ul.list-check li{padding:4px 0;margin:0;display:block;width:100%;}ul.list-check li i{color:#1998E2;font-style:normal;margin-right:4px;}ul.list-check li a{font-weight:500;}ul.list-check li a:hover{text-decoration:none;color:#a1a1a1;}ul.list-check li span{font-size:14px;}ul.meta-list{margin:0;padding:10px 15px 15px 15px;display:block;list-style:none;}ul.meta-list li:first-child{padding:0;border-left:0;}ul.meta-list li{display:inline-block;color:#a1a1a1;}ul.meta-list li a{color:#7a92ac;}ul.meta-list li a:hover{color:#1998E2;text-decoration:underline;}ul.bullet{list-style:none;margin:0;padding:0;}ul.bullet li{clear:left;padding:10px 0;display:block;width:100%;}ul.bullet li>figure{margin:5px 0 0 0;padding:0;border-radius:100%;width:35px;height:35px;background:#DDD;padding:8px 0 0;text-align:center;font-size:17px;color:#fff;font-weight:bold;display:inline-block;float:left;}ul.bullet li img{width:60px;}ul.bullet li h3{font-size:16px;font-weight:600;margin-left:15px;display:inline-block;}ul.bullet li p{margin:0 0 0 50px;padding:0;}ul.bullet li span{margin-left:6px;}ul.bullet li a{font-weight:500;}ul.bullet li a:hover{text-decoration:none;color:#464646;}ul.bullet li span{font-size:12px;}ul.list-carousel{list-style:none;margin:0;padding:0;}ul.list-carousel li{padding:6px 0;display:block;width:100%;font-size:16px;}ul.list-carousel li i{font-style:normal;margin-right:4px;}ul.list-carousel li a{font-weight:500;}ul.list-carousel li a:hover{text-decoration:none;color:#a1a1a1;}ul.list-carousel li span{font-size:14px;}ul.list-listings{margin:0 0 20px 0;padding:0;list-style:none;}ul.list-listings li{margin-bottom:30px;border:1px solid #f3f3f3;overflow:hidden;}ul.list-listings li.featured{border-color:#0096e5;}ul.list-listings li:before,ul.list-listings li:after{content:"";display:table;}ul.list-listings li:after{clear:both;}ul.list-listings .listing-header{clear:both;padding:8px 15px;font-weight:600;text-transform:uppercase;}ul.list-listings .listing-image{width:25%;height:150px;float:left;overflow:hidden;}ul.list-listings .listing-body{width:50%;height:150px;padding:15px;float:left;background:#fcfcfc;border-right:1px solid #f3f3f3;}ul.list-listings .listing-body h3{margin:0;padding:0;font-size:18px;font-weight:500;line-height:25px;}ul.list-listings .listing-body h4{font-size:14px;font-weight:normal;line-height:22px;}ul.list-listings .listing-actions{width:25%;height:110px;padding-top:40px;float:left;text-align:center;}ul.list-listings .listing-actions .btn{margin-top:6px;}.table.table-no-border>thead>tr>th,.table.table-no-border>tbody>tr>th,.table.table-no-border>tfoot>tr>th,.table.table-no-border>thead>tr>td,.table.table-no-border>tbody>tr>td,.table.table-no-border>tfoot>tr>td{border-top:0;padding:0;}.blog-list{}ul.list-listings.blog-list .listing-header{clear:both;padding:8px 15px;font-weight:600;text-transform:uppercase;}ul.list-listings.blog-list .listing-image{width:35%;height:180px;float:left;overflow:hidden;}ul.list-listings.blog-list .listing-body{width:50%;height:180px;max-height:180px;padding:15px;float:left;background:#fcfcfc;border-right:1px solid #f3f3f3;}ul.list-listings.blog-list .listing-body h3{margin:0;padding:0;font-size:18px;font-weight:500;margin-bottom:10px;}ul.list-listings.blog-list .listing-body h4{font-size:14px;font-weight:normal;line-height:22px;}ul.list-listings.blog-list .listing-actions{width:15%;height:180px;position:relative;padding-top:20px;float:left;text-align:center;}ul.list-listings.blog-list .listing-actions .btn{position:absolute;bottom:20px;left:25px;}ul.list-listings.blog-list .listing-actions .author{font-size:12px;font-style:italic;}ul.list-listings.blog-list .listing-actions .date{font-size:12px;}.blog-masonry .w-box,.blog-grid .w-box,.blog-list .w-box{margin-bottom:25px;}.w-box.blog-post{border:0;padding:0;}.blog-post h2{font-size:18px;line-height:24px;color:#3b3e43;border:0;padding:25px 0px 0px 0px;}.blog-post p{padding:8px 0px;font-size:14px;color:#777;}.blog-post blockquote{margin:8px 0px;}.blog-post .meta-list{padding-left:0;}.blog-post img{width:100%;}.side-info{display:block;}.side-info .date{display:block;text-align:center;margin-top:5px;}.side-info .date strong{display:block;margin-bottom:5px;font-size:33px;font-weight:normal;}.star-rating{display:block;}.star-rating i{display:inline-block!important;color:#f7e90c!important;}.review-rating{font-size:12px;}.review-rating i{}.skills{clear:both;width:100%;}.skills ul,.skills li{display:inline-block;list-style:none;margin:0 6px 0 0;padding:0;}.skills li{padding:0 15px;height:35px;line-height:35px;color:#fff;margin-bottom:1px;font-size:18px;}.skills .jq{background:#97BE0D;}.skills .css{background:#D84F5F;}.skills .html{background:#88B8E6;}.skills .php{background:#BEDBE9;}.skills .sql{background:#EDEBEE;}.form-control{border-radius:1px;padding:8px 12px;}.form-default .form-group{margin-bottom:8px;}.form-default label{margin:0;}.form-default .form-control{background:#313d50;border:1px solid #3d4754;}.form-default .form-control:focus{-webkit-box-shadow:none;box-shadow:none;}.form-default .form-control:-moz-placeholder{color:#ddd}.form-default .form-control::-moz-placeholder{color:#ddd}.form-default .form-control:-ms-input-placeholder{color:#ddd}.form-default .form-control::-webkit-input-placeholder{color:#ddd}.form-light .form-control{margin-bottom:10px;background:#fcfcfc;border:1px solid #ccc;}.form-light label{}.form-light .form-control:focus{background:#fff;-webkit-box-shadow:none;box-shadow:none;border-color:#bbb;}.form-light .form-control:-moz-placeholder{color:#999;}.form-light .form-control::-moz-placeholder,.form-light .form-control[placeholder]{color:#999;}.form-light .form-control:-ms-input-placeholder{color:#999;}.form-light .form-control::-webkit-input-placeholder{color:#999;}.sign-in-wr{margin-top:26px;}.sign-in-wr .form-icon{display:block;width:80px;height:80px;border-radius:80px;margin:25px auto;text-align:center;line-height:80px;font-size:40px;}.sign-in-wr .form-header{padding:15px;border-bottom:1px solid #f3f3f3;}.sign-in-wr .form-header h2{margin:0;padding:0;font-size:18px;font-weight:500;}.sign-in-wr .form-body{padding:15px;background:#fff;}.sign-in-wr .form-body p{padding-left:0;margin-bottom:10px;}.sign-in-wr .form-footer{padding:15px 0;border-top:1px solid #f3f3f3;}.social-media i{width:40px;height:40px;display:inline-block;padding:10px;margin-right:10px;margin-bottom:10px;text-align:center;font-size:18px;background:#ddd;color:#333;border-radius:2px;}.social-media .facebook{background:#43609c;color:#FFF;}.social-media .twitter{background:#62addb;color:#FFF;}.social-media .google{background:#dd4b39;color:#FFF;}.social-media i:hover{background:none;color:#a1a1a1;}.form-errors{width:100%;margin-bottom:20px;}.form-errors .error{display:block;color:#ce1a33;font-weight:500;}.help-inline{font-size:11px;color:#B8321F;position:relative;top:-8px;}#info-box{display:none;text-align:center;margin-top:30px;color:#59b540;}#info-box h2{font-size:16px;font-weight:600;}#info-box p{}.map-canvas{margin-top:30px;height:300px;}.map-canvas .info-window-content{min-width:250px;}.map-canvas .info-window-content h2{font-size:18px;font-weight:600;margin-bottom:8px;}.map-canvas .info-window-content h3{font-size:14px;font-weight:500;}.map-canvas .info-window-content p{font-size:12px;color:#999;text-shadow:none;}.carousel-testimonials .testimonial-entry p{margin-top:5px;padding:27.5px 15px;line-height:20px;font-size:13px;color:#eeeeee;background:#555;border-radius:3px;border-color:#e5e5e5 #dbdbdb #d2d2d2;-webkit-box-shadow:rgba(0,0,0,0.3) 0 1px 3px;-moz-box-shadow:rgba(0,0,0,0.3) 0 1px 3px;box-shadow:rgba(0,0,0,0.3) 0 1px 3px;}.carousel-testimonials .testimonial-image{float:left;width:80px!important;height:80px;position:relative;margin-left:30px;}.carousel-testimonials .indicator{display:block;content:"";margin-top:-8px;margin-left:60px;width:18px;height:18px;background-color:#555;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);margin-bottom:10px;border-bottom:1px solid #999;border-right:1px solid #b0afaf;border-top:0;}.contact-info{margin-bottom:20px;}.contact-info h5{margin:0;}.carousel-testimonials .testimonial-author-info{padding-top:28px;}.carousel-testimonials .testimonial-author-info a{padding-left:20px;}.client{border:1px solid #ddd;padding:0 15px;background:#fafafa;}.client img{width:100%;-webkit-filter:grayscale(100%);-moz-filter:grayscale(100%);filter:grayscale(100%);}.client img:hover{-webkit-filter:grayscale(0%);-moz-filter:grayscale(0%);filter:grayscale(0%);}footer{padding-bottom:20px;min-height:30px;font-size:12px;background:#000;}footer:before,footer:after{display:table;content:" ";}footer:after{clear:both;}footer .col.reset{margin:0;}footer h4{margin-top:20px;color:#FFF;margin-bottom:20px;text-transform:capitalize;}footer .col p{color:#8F8F8F;font-size:13px;margin-bottom:10px;}footer a{color:#8F8F8F;text-decoration:none;}footer a:hover{text-decoration:none;}footer .col ul{margin:0;padding:0;list-style:none;}footer .col ul li{color:#8F8F8F;}footer .col ul li span{color:#FFF;}footer .col address{color:#ddd;padding:8px 0;}footer .company-info{font-size:10px;text-align:justify;}footer .company-info h2{font-size:14px;font-weight:600;}footer .col.col-social-icons i{width:40px;height:40px;display:inline-block;padding:10px;margin-right:10px;margin-bottom:10px;text-align:center;font-size:18px;background:#CCC;color:#333;border-radius:20px;}footer form{margin-top:20px;}footer hr{border-top:1px solid #444;}footer .copyright{color:#FFF;}#toTop{display:none;text-decoration:none;position:fixed;bottom:10px;right:10px;overflow:hidden;width:40px;height:40px;border:none;text-indent:100%;background:#555;border-radius:3px;}#toTopHover{background:#0096E5;width:40px;height:40px;display:block;overflow:hidden;float:left;opacity:0;-moz-opacity:0;filter:alpha(opacity=0);}#toTop:active,#toTop:focus{outline:none;}#toTop:before{font-family:'FontAwesome';content:"\f106";color:#ffffff;font-size:20px;position:absolute;top:50%;left:50%;width:20px;height:20px;text-align:center;line-height:20px;margin-top:-10px;margin-left:-10px;text-indent:0;}.btn{font-weight:normal;white-space:nowrap;vertical-align:middle;cursor:pointer;background-image:none;border:1px solid transparent;border-radius:2px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}.btn i{margin-right:4px;}.btn-lg{padding:10px 16px;font-size:18px;line-height:1.33;border-radius:3px;}.btn-lg i{font-size:24px;position:relative;top:3px;}.btn-xs{padding:4px 10px;}.btn-xlg{padding:10px 16px;font-size:18px;font-weight:bold;color:#FFF;line-height:1.33;border-radius:3px;width:260px;height:44px;display:inline-block;}.btn-cta{background-color:#2BDE73;border:0;border-bottom:2px solid #2BDE73;}.btn-cta:hover,.btn-cta:focus,.btn-cta:active,.btn-cta.active,.open .dropdown-toggle.btn-cta{color:#ffffff;background-color:#27AE60;border-color:#27AE60;}.btn-cta:active,.btn-cta.active,.open .dropdown-toggle.btn-cta{background-image:none;}.btn-one{background-color:#FFF;border:0;border-bottom:2px solid #FFF;}.btn-one:hover,.btn-one:focus,.btn-one:active,.btn-one.active,.open .dropdown-toggle.btn-one{color:#ffffff;background-color:#313d50;border-color:#273141;}.btn-one:active,.btn-one.active,.open .dropdown-toggle.btn-one{background-image:none;}.btn-two{color:#ffffff;background-color:#7a92ac;border:0;border-bottom:2px solid #667b91;}.btn-two:hover,.btn-two:focus,.btn-two:active,.btn-two.active,.open .dropdown-toggle.btn-two{color:#ffffff;background-color:#3d4754;border-color:#2c343e;}.btn-two:active,.btn-two.active,.open .dropdown-toggle.btn-two{background-image:none;}.btn-three{color:#ffffff;background-color:#0096e5;border:1px solid #0096e5;}.btn-three:hover,.btn-three:focus,.btn-three:active,.btn-three.active,.open .dropdown-toggle.btn-three{color:#0096e5;background-color:#fff;border:1px solid #0096e5;}.btn-three:active,.btn-three.active,.open .dropdown-toggle.btn-three{background-image:none;}.btn-four{background-color:none;border:2px solid #FFF;color:#FFF;}.btn-four:hover,.btn-four:focus,.btn-four:active,.btn-four.active,.open .dropdown-toggle.btn-four{color:#0096E5;background-color:#FFF;}.btn-four:active,.btn-four.active,.open .dropdown-toggle.btn-four{background-image:none;}.btn-five{background-color:transparent;border:2px solid #0096e5;color:#0096e5;}.btn-five:hover,.btn-five:focus,.btn-five:active,.btn-five.active,.open .dropdown-toggle.btn-five{color:#FFF;background-color:#0096e5;}.btn-five:active,.btn-five.active,.open .dropdown-toggle.btn-five{background-image:none;}.btn-tutum{background-color:white;border:2px solid white;color:#0096e5;}.btn-tutum:hover,.btn-tutum:focus,.btn-tutum:active,.btn-tutum.active,.open .dropdown-toggle.btn-tutum{color:white;border:2px solid white;background-color:transparent;}.btn-tutum:active,.btn-tutum.active,.open .dropdown-toggle.btn-tutum{background-image:none;}.btn-primary{color:#ffffff;background-color:#7a92ac;}.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{color:#ffffff;background-color:#3d4754;border-color:#3d4754;}.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{background-image:none;}.btn-input{color:#ffffff;background-color:#7a92ac;padding:5px;border-color:#5e7996;}.btn-input:hover,.btn-input:focus,.btn-input:active,.btn-input.active,.open .dropdown-toggle.btn-input{color:#ffffff;background-color:#FFF;border-color:#2c343e;}.btn-input:active,.btn-input.active,.open .dropdown-toggle.btn-input{background-image:none;}.btn-footer{color:white;border:2px solid white;background-color:transparent;border-radius:2px;}.btn-footer:hover,.btn-footer:focus,.btn-footer:active,.btn-footer.active,.open .dropdown-toggle.btn-footer{color:white;border:2px solid white;background-color:transparent;}.btn-footer:active,.btn-footer.active,.open .dropdown-toggle.btn-footer{background-image:none;}.progress{height:28px;margin-bottom:15px;overflow:hidden;background-color:#f5f5f5;border-radius:2px;-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);}.progress .sr-only{width:auto;height:28px;margin:0;margin-left:30px;left:0;clip:auto;line-height:28px;font-size:14px;}.progress-bar-one{background-color:#1998E2;}.progress-bar-two{background-color:#697e93;}.progress-bar-three{background-color:#3b3e43;}.progress-bar-four{background-color:#FFF;}div.tabs{margin-bottom:0;}div.tabs:before,div.tabs:after{display:table;content:" ";}div.tabs:after{clear:both;}div.tabs div.tab-content{-moz-border-radius:0 0 2px 2px;-moz-box-shadow:0 1px 5px 0 rgba(0,0,0,0.04);-webkit-border-radius:0 0 2px 2px;-webkit-box-shadow:0 1px 5px 0 rgba(0,0,0,0.04);background-color:#FFF;border:1px solid #EEE;border-radius:0 0 2px 2px;border-top:0;box-shadow:0 1px 5px 0 rgba(0,0,0,0.04);padding:15px;}div.tabs ul.nav-tabs{margin:0;}div.tabs ul.nav-tabs li.active a{background:#fff;border-top:2px solid #CCC;color:#CCC;}div.tabs ul.nav-tabs a{-moz-border-radius:2px 2px 0 0;-webkit-border-radius:2px 2px 0 0;background:#f7f7f7;border:1px solid #EEE;border-bottom:0;border-radius:2px 2px 0 0;margin-right:1px;color:#333;}div.tabs ul.nav-tabs a:hover{border-top:2px solid #CCC;color:#7a92ac;}div.tabs ul.nav-tabs a:active,div.tabs ul.nav-tabs a:focus{border-bottom:0;}div.tabs-left ul.nav-tabs a:active,div.tabs-left ul.nav-tabs a:focus{border-right:0;}div.tabs ul.nav-tabs a,div.tabs ul.nav-tabs a:hover{border:1px solid #EEE;border-bottom:0;border-top:2px solid #0096e5;font-size:0.9em;}div.tabs-left ul.nav-tabs a,div.tabs-left ul.nav-tabs a:hover{border:1px solid #EEE;border-right:0;border-left:2px solid #DDD;color:#CCC;font-size:0.9em;}div.tabs-right ul.nav-tabs a,div.tabs-right ul.nav-tabs a:hover{border:1px solid #EEE;border-left:0;border-right:2px solid #DDD;color:#CCC;font-size:0.9em;}.tabbable.tabs-left{-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;margin-bottom:30px;}div.tabbable.tabs-left div.tab-content{padding:15px;}div.tabbable.tabs-left ul.nav-tabs a{-moz-border-radius:2px 2px 0 0;-webkit-border-radius:2px 2px 0 0;background:#f7f7f7;border:1px solid #EEE;border-right:0;border-radius:2px 2px 0 0;color:#666;margin-bottom:3px;}div.tabbable.tabs-left ul.nav-tabs li.active a{background:#fff;color:#CCC;}.tabbable.tabs-right{-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;margin-bottom:30px;}div.tabbable.tabs-right div.tab-content{-moz-border-radius:0 0 2px 2px;-moz-box-shadow:1px 1px 5px 0 rgba(0,0,0,0.04);-webkit-border-radius:0 0 2px 2px;-webkit-box-shadow:1px 1px 5px 0 rgba(0,0,0,0.04);background-color:#FFF;border:1px solid #EEE;border-radius:0 0 2px 2px;border-left:0;margin:0;box-shadow:1px 1px 5px 0 rgba(0,0,0,0.04);padding:15px;}div.tabbable.tabs-right ul.nav-tabs a{-moz-border-radius:2px 2px 0 0;-webkit-border-radius:2px 2px 0 0;background:#f7f7f7;border:1px solid #EEE;border-left:0;border-radius:2px 2px 0 0;color:#666;margin-bottom:3px;}div.tabbable.tabs-right ul.nav-tabs li.active a{background:#fff;color:#CCC;}.tabs-centered{width:100%;display:table;margin:0 auto;}.tabs-centered ul{background:#f00;}.tabs-centered ul li{width:100px;display:inline-block;float:none;}.panel-group{margin-bottom:30px;}.panel-group .panel{border-radius:0;}.panel-group .panel+.panel{margin-top:0;border-top:0;}.panel-group .panel-heading{padding:14px 15px;position:relative;}.panel-group .panel-heading:after{content:"+";font-size:12px;position:absolute;right:15px;top:50%;margin-top:-8px;}.panel-group .panel-heading a{font-weight:normal;}.modal-footer{margin-top:0;}.fa-icon-list div{margin-top:10px;color:#777;padding:5px 10px;cursor:default;}.fa-icon-list div:hover{background:#1998E2;color:#FFF;}@media (min-width: 1200px) {.w-section .aside-feature{text-align:left;}.w-section .aside-feature .icon-feature{text-align:left;}.slider{width:100%;}.w-section .txt-fly-over{height:350px;top:-90px;}.navbar-default .dropdown-menu,.navbar-white .dropdown-menu{margin-top:0px!important;margin-right:4px;}.navbar-default .dropdown-menu,.navbar-white .dropdown-menu.dropdown-menu-user{margin-top:13px!important;margin-right:4px;}}@media (min-width: 992px) and (max-width: 1199px) {.navbar-default .dropdown-menu,.navbar-white .dropdown-menu{margin-top:0px!important;margin-right:4px;}.navbar-default .dropdown-menu,.navbar-white .dropdown-menu.dropdown-menu-user{margin-top:13px!important;margin-right:4px;}.w-section .txt-fly-over{height:390px;top:-60px;}}@media (min-width: 768px) and (max-width: 991px) {.w-box,.carousel-work .figure{margin-bottom:15px;}.animate-hover-slide img{width:100%;}.carousel-1 .item img{}.carousel-1 .object{width:400px!important;}.slider{width:100%;}.w-section .txt-fly-over{height:400px;top:-60px;}}@media (max-width: 767px) {header .navbar-brand{margin:14px 0;}.navbar-default .navbar-nav>li>a{color:#FFF;padding:10px 20px;margin-right:0;font-size:15px;}.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus{color:#1998E2;background-color:#1998E2;border-radius:0!important;}.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus{border-radius:0!important;}.navbar-default .navbar-nav .open .dropdown-menu>li{padding:5px 10px;border-bottom-color:#1998E2;}.navbar-default .navbar-nav .open .dropdown-menu>li:hover{background:#1998E2;color:#FFF;}.navbar-default .navbar-nav .open .dropdown-menu>li>a{color:#FFF;}.navbar-default .navbar-collapse.in .dropdown-menu>li:hover>a{color:#FFF;}.navbar-default .navbar-collapse.in .dropdown-menu>li>a>.caret{float:right;}.navbar-default .navbar-collapse,.navbar-default .navbar-form{border-color:#000!important;}.navbar-default .dropdown-menu:after{border-color:rgba(255,255,255,0);border-bottom-color:#FFF;border-width:0px;margin-left:0px;}.navbar-default .dropdown-menu:before{border-color:rgba(255,255,255,0);border-bottom-color:#FFF;border-width:0px;margin-left:0px;}.navbar-default .dropdown-menu{margin-top:0;}.navbar-default .dropdown-menu>li>a{padding:8px 15px;color:#FFF;}.navbar-default .dropdown-menu>li>a:hover{background:#1998E2;color:#FFF;}.navbar-white .navbar-nav>li>a{color:#fff;padding:10px 20px;margin-right:0;font-size:15px;}.navbar-white .navbar-nav>li>a:hover,.navbar-white .navbar-nav>li>a:focus{color:#FFF;background-color:#1998E2;border-radius:0!important;}.navbar-white .navbar-nav>.active>a,.navbar-white .navbar-nav>.active>a:hover,.navbar-white .navbar-nav>.active>a:focus{border-radius:0!important;}.search-wr{height:90px;}.search-wr .search-sign i{font-size:40px;line-height:90px;margin-left:30px;color:#DDD;}.global-search-input{padding:8px 0;font-size:20px;position:relative;width:90%;background:#fff;z-index:10;border:none;outline:none;color:#DDD;font-weight:500;}.w-section .aside-feature{text-align:center;}.w-section .aside-feature .icon-feature{text-align:center;}.sort-list-btn .btn{margin-bottom:10px;}.w-box,.carousel-work .figure{margin-bottom:15px;}.animate-hover-slide .figure img{width:100%;}.carousel-1 .carousel-inner{height:420px;}.carousel-1 .carousel-inner{overflow:hidden;}.carousel-1 .carousel-control i{position:absolute;top:50%;margin-top:-18px;font-size:36px;font-weight:600;}.carousel-1 .item{}.carousel-1 .item img{}.carousel-1 .item-dark{color:#FFF;}.carousel-1 p{font-size:16px;}.carousel-1 .object{display:none;}.carousel-1 .object.fluid{width:100%;left:0;margin:0;}.carousel-1 .object iframe{width:100%!important;}.carousel-1 .object img{}.carousel-1 .description{width:100%!important;top:50px;left:0!important;margin:0!important;}.carousel-1 .description .title{font-size:32px;margin:0 0 15px 0;padding:8px 20px;background:#FFF;color:#9ab2cc;display:block;text-align:center;}.carousel-1 .description .subtitle{font-size:24px;margin:20px 0;padding:0 15px!important;display:block;text-align:center;}.carousel-1 .description p{font-size:16px;color:#FFF;margin:0;}.carousel-1 .description p.text-box{}.carousel-1 .description.fluid-center .features i{width:80px;height:80px;background:#FFF;text-align:center;line-height:80px;font-size:34px;color:#697e93;font-weight:700;border-radius:80px;margin-right:20px;}.carousel-1 .list-carousel{padding-left:30px!important;}.carousel-3 .figure{margin-bottom:20px;}.carousel-3 .carousel-nav a{bottom:16px!important;top:auto!important;}.slider{height:auto;max-height:440px;margin:0;}.cta-wr{text-align:center;}.cta-wr .btn{float:none!important;}.w-section .txt-fly-over{height:400px;position:static;top:0;}}@media only screen and (min-width: 1440px){.slider{width:100%;}}@media (max-width: 460px) {.search-wr .search-sign i{margin-left:0;}.global-search-input{font-size:16px;padding:14px 0;}}.colpricing{padding-left:5px;padding-right:5px;}.fancybox-skin{background-color:#000;padding:0px!important;}.col-centered{float:none;margin:0 auto;}