{% extends "registration/registration_base_new.html" %}
{% load staticfiles %}

{% block title %}
Sign in
{% endblock %}

{% block content %}
{% if form.non_field_errors %}
<div class="header">
    <div class="alert alert-warning">
        {{ form.non_field_errors }}
    </div>
</div>
{% endif %}
<div class="container login-container">
    <div class="signup-box visible widget-box no-border">
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-md-4">
                        <div class="login-icon">
                            <img src="{% static 'images/icons/openstack_logo.png' %}"
                                 alt="Open Stack"/>
                            <h4>Welcome to
                                <small>Open Stack</small>
                            </h4>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <form id="form-login" class="login-form"
                              action="{% url 'django.contrib.auth.views.login' %}" method="post">
                            {% csrf_token %}

                            <fieldset>
                                <div class="form-group">
                                    <input value="{{ form.username.value|default_if_none:''}}"
                                           id="id_username" maxlength="254" class="form-control
                                            login-field validate[required]"
                                           placeholder="Enter your email" name="username"
                                           type="text">
                                    <label class="login-field-icon fui-mail"></label>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="form-group">
                                    <input id="id_password" maxlength="254" class="form-control
                                            login-field validate[required]"
                                           placeholder="Password" name="password"
                                           type="password">

                                    <label class="login-field-icon fui-lock"></label>
                                </div>
                            </fieldset>

                            <div class="space"></div>

                            <div class="clearfix">
                                <input name="next" value="/" type="hidden">
                                <button class="btn btn-primary btn-lg btn-block" type="submit">
                                    Sign in
                                </button>
                            </div>
                            <a class="login-link login-small"
                               href="{% url 'auth_password_reset' %}">Forgot password?</a>

                            <p class="login-link">Don't have an account? <a
                                    href="{% url 'registration_register' %}">Sign up.</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% comment %}
**registration/login.html**

It's your responsibility to provide the login form in a template called
registration/login.html by default. This template gets passed four
template context variables:

``form``
A Form object representing the login form. See the forms
documentation for more on Form objects.

``next``
The URL to redirect to after successful login. This may contain a
query string, too.

``site``
The current Site, according to the SITE_ID setting. If you don't
have the site framework installed, this will be set to an instance
of RequestSite, which derives the site name and domain from the
current HttpRequest.

``site_name``
An alias for site.name. If you don't have the site framework
installed, this will be set to the value of
request.META['SERVER_NAME']. For more on sites, see The
"sites" framework.
{% endcomment %}