{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<p>
    Забыли пароль?  Введите ваш email и мы пришлем вам письмо с инструкцией по восстановлению
</p>
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Восстановить пароль" />
</form>
{% endblock %}


{# This is used by django.contrib.auth #}