{% extends "registration/registration_base_new.html" %}
{% load staticfiles %}

{% block title %}
Sign up
{% endblock %}

{% block content %}
{% if form.non_field_errors %}
<div class="header">
    <div class="alert alert-warning">
        {{ form.non_field_errors }}
    </div>
</div>
{% endif %}
<div class="container login-container">

    <div class="signup-box visible widget-box no-border">
        <div class="widget-body">
            <div class="widget-main">

                <div class="row">
                    <div class="col-md-4">
                        <div class="login-icon">
                            <img src="{% static 'images/icons/openstack_logo.png' %}"
                                 alt="Open Stack"/>
                            <h4>Welcome to
                                <small>Open Stack</small>
                            </h4>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <form id="form-login" class="login-form" action="" method="post">
                            {% csrf_token %}

                            <fieldset>
                                {% if form.email.errors %}
                                <div class="form-group has-error">
                                    {% else %}
                                    <div class="form-group">
                                        {% endif %}

                                        <input value="{{ form.email.value|default_if_none:''}}"
                                               id="id_email" maxlength="254" class="form-control
                                            login-field validate[required]"
                                               placeholder="Enter your email" name="email"
                                               type="text">

                                        <label class="login-field-icon fui-mail"></label>

                                        {% if form.email.errors %}
                                        <div class="help-block" for="id_email">
                                            {% for error in form.email.errors %}
                                            {{ error|escape }}
                                            {% endfor %}
                                        </div>
                                        {% endif %}

                                    </div>
                            </fieldset>

                            <fieldset>
                                {% if form.password1.errors %}
                                <div class="form-group has-error">
                                    {% else %}
                                    <div class="form-group">
                                        {% endif %}

                                        <input id="id_password1" maxlength="254" class="form-control
                                            login-field validate[required]"
                                               placeholder="Password" name="password1"
                                               type="password">

                                        <label class="login-field-icon fui-lock"></label>

                                        {% if form.password1.errors %}
                                        <div class="help-block" for="id_password1">
                                            {% for error in form.password1.errors %}
                                            {{ error|escape }}
                                            {% endfor %}
                                        </div>
                                        {% endif %}

                                    </div>
                            </fieldset>

                            <fieldset>
                                {% if form.password2.errors %}
                                <div class="form-group has-error">
                                    {% else %}
                                    <div class="form-group">
                                        {% endif %}

                                        <input id="id_password2" maxlength="254" class="form-control
                                            login-field validate[required]"
                                               placeholder="Confirm password" name="password2"
                                               type="password">

                                        <label class="login-field-icon fui-lock"></label>

                                        {% if form.password2.errors %}
                                        <div class="help-block" for="id_password2">
                                            {% for error in form.password2.errors %}
                                            {{ error|escape }}
                                            {% endfor %}
                                        </div>
                                        {% endif %}

                                    </div>
                            </fieldset>

                            <div class="clearfix">
                                <input name="next" value="/" type="hidden">
                                <button class="btn btn-primary btn-lg btn-block" type="submit">
                                    Sign up
                                </button>
                            </div>

                            <p class="login-link login-small">By signing up, you agree to the <a
                                    href="#">Terms of Use</a></p>

                            <p class="login-link">Already have an account? <a href="{% url 'auth_login' %}">Sign in.</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
The registration form. This will be an instance of some subclass
of ``django.forms.Form``; consult `Django's forms documentation
<http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
information on how to display this in a template.
{% endcomment %}