{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="TODO"/>

    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="{% static 'css/flat-ui.css' %}" rel="stylesheet">
    <link href="{% static 'css/demo.css' %}" rel="stylesheet">

    <link href="{% static 'images/favicon.ico' %}" rel="shortcut icon">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script src="{% static 'scripts/html5shiv.js' %}"></script>
    <script src="{% static 'scripts/respond.min.js' %}"></script>
    <![endif]-->

     {% block head %}{% endblock %}
</head>
<body class="login-screen">

{% block content %}{% endblock %}

<script src="{% static 'scripts/jquery.min.js' %}"></script>
<script src="{% static 'scripts/flat-ui.min.js' %}"></script>
<script src="{% static 'scripts/application.js' %}"></script>
</body>
</html>