{% extends "registration/registration_base.html" %}

{% block title %}Пиьсмо активации отправлено{% endblock %}

{% block content %}
<p>Вам на email отправлено письмо активации аккаунта</p>
<p><a href="{% url 'index' %}">На главную</a></p>
{% endblock %}


{% comment %}
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variables of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
{% endcomment %}