{% extends "base_simple.html" %}
{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" href="{% static 'scripts/login.css' %}" type="text/css">
{% endblock %}

{% block title %}
  Регистрация
{% endblock %}

{% block content %}
  <div class="main-content">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="login-container">

          <div class="space-20"></div>
          <div class="center">
            <img src="{% static 'images/logo_crop.png' %}"></img>
          </div>

          <div class="position-relative">
            <div class="signup-box visible widget-box no-border">
              <div class="widget-body">
                <div class="widget-main">

                  <div class="space-10"></div>

                  {% if form.non_field_errors %}
                    <div class="alert alert-danger center">
                      {{ form.non_field_errors }}
                    </div>
                  {% endif %}

                  <form id="form-login" class="validate-form" action="" method="post">
                    {% csrf_token %}

                      <fieldset>
                      {% if form.username.errors %}
                        <div class="form-group has-error">
                      {% else %}
                        <div class="form-group">
                      {% endif %}

                          <label class="block clearfix" for="{{ form.username.id_for_label }}">
                            <span class="block input-icon input-icon-right">
                              <input value="{{ form.username.value|default_if_none:"" }}" id="id_username" maxlength="254" class="form-control validate[required]" placeholder="Имя пользователя" name="username" type="text">
                              <i class="icon-user"></i>
                            </span>

                            {% if form.username.errors %}
                              <div class="help-block" for="id_username">
                                {% for error in form.username.errors %}
                                  {{ error|escape }}
                                {% endfor %}
                              </div>
                            {% endif %}

                          </label>
                        </div>
                      </fieldset>

                      <fieldset>
                      {% if form.email.errors %}
                        <div class="form-group has-error">
                      {% else %}
                        <div class="form-group">
                      {% endif %}

                        <div class="form-group">
                          <label class="block clearfix" for="{{ form.email.id_for_label }}">
                            <span class="block input-icon input-icon-right">
                              <input value="{{ form.email.value|default_if_none:"" }}" id="id_email" maxlength="254" class="form-control validate[required]" placeholder="Email" name="email" type="text">
                              <i class="icon-envelope"></i>
                            </span>

                            {% if form.email.errors %}
                              <div class="help-block" for="id_email">
                                {% for error in form.email.errors %}
                                  {{ error|escape }}
                                {% endfor %}
                              </div>
                            {% endif %}

                          </label>
                        </div>
                      </fieldset>

                      <fieldset>

                      {% if form.password1.errors %}
                        <div class="form-group has-error">
                      {% else %}
                        <div class="form-group">
                      {% endif %}

                        <div class="form-group">
                          <label class="block clearfix" for="{{ form.password1.id_for_label }}">
                            <span class="block input-icon input-icon-right">
                              <input id="id_password" class="form-control validate[required]" placeholder="Пароль" name="password1" type="password">
                              <i class="icon-lock"></i>
                            </span>

                            {% if form.password1.errors %}
                              <div class="help-block" for="id_password">
                                {% for error in form.password1.errors %}
                                  {{ error|escape }}
                                {% endfor %}
                              </div>
                            {% endif %}

                          </label>
                        </div>
                      </fieldset>

                      <fieldset>

                      {% if form.password2.errors %}
                        <div class="form-group has-error">
                      {% else %}
                        <div class="form-group">
                      {% endif %}

                        <div class="form-group">
                          <label class="block clearfix" for="{{ form.password2.id_for_label }}">
                            <span class="block input-icon input-icon-right">
                              <input id="id_password2" class="form-control validate[required]" placeholder="Повторите пароль" name="password2" type="password">
                              <i class="icon-lock"></i>
                            </span>

                            {% if form.password2.errors %}
                              <div class="help-block" for="id_password2">
                                {% for error in form.password2.errors %}
                                  {{ error|escape }}
                                {% endfor %}
                              </div>
                            {% endif %}

                          </label>
                        </div>
                      </fieldset>

                      <div class="space"></div>

                      <div class="clearfix">
                        <input name="next" value="/" type="hidden">
                        <button class="btn-block btn btn-sm btn-primary" type="submit">Отправить</button>
                      </div>

                      <hr>
                  </form>
                </div>

                <div class="center">
                  <div class="bigger-120">
                    Кажется я зарегистрирован, <a href="{% url 'django.contrib.auth.views.login' %}">войти</a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}