{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="{% static 'images/favicon.ico' %}" rel="shortcut icon">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'scripts/font-awesome.min.css' %}">
    <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static 'scripts/tutum.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'scripts/bootstrap.min.css' %}" type="text/css"/>
    <link href="{% static 'scripts/global-style.css' %}" rel="stylesheet" type="text/css" media="screen">

    {% block head %}{% endblock %}
  </head>
  <body>

    {% block content %}{% endblock %}

  </body>
</html>