{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="{% static 'images/favicon.ico' %}" rel="shortcut icon">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'scripts/font-awesome.min.css' %}">
    <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static 'scripts/tutum.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'scripts/bootstrap.min.css' %}" type="text/css"/>
    <link href="{% static 'scripts/global-style.css' %}" rel="stylesheet" type="text/css" media="screen">

    {% block head %}{% endblock %}
  </head>
  <body>

    <header>
      <div id="navOne" class="navbar navbar-white" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a href="{% url 'index' %}"><img style="padding-top: 5px;" width="70px" src="{% static 'images/logo_crop_white.png' %}" alt="Logo"></a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="{% url 'faq' %}" >FAQ</a>
              </li>
              <li>
                <a href="{% url 'registration_register' %}"><strong>Регистрация</strong></a>
              </li>
              <li>
                <a href="{% url 'auth_login' %}">Войти</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    {% block content %}{% endblock %}

    <script type="text/javascript" src="{% static 'scripts/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/bootstrap.min.js' %}"></script>

  </body>
</html>