{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Дай погонять{% endblock %}

{% block content %}
	<!-- <p>Свободно {{ ip_free }} из {{ ip_all }} серверов</p> -->

	<div class="container-fluid">
      <section class="slice bg-7 p-15">
        <div class="container">
          <div class="row">
            <div class="col-xs-offset-1 col-xs-10
                                    col-sm-offset-1 col-sm-10
                                    col-md-offset-1 col-md-10
                                    text-center">
              <div class="text-center">
                <h1 class="text-white text-3em">Персональный Jupyter сервер для каждого</h1>
                <h3 class="text-white">Наши ресурсы, ваши знания</h3>
                <span class="clearfix"></span>
                <div class="text-center">
                  <div class="spa30"></div>
                  <a href="{% url 'registration_register' %}" class="btn btn-lg btn-warning text-centered"><strong>Дай погонять!</strong></a>
                  <div class="spa10"></div>
                  <span style="color: #fff;">Бесплатно на 8 часов, каждые 8 часов</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="slice bg-3 p-15">
      <div class="container-fluid">
      <div class="inside">
      <div class="row">
      <div class="spa70"></div>
      <div class="col-sm-12 text-center">
      <div class="col-sm-4 text-center">
      <img class="center-block ttrio" src="{% static 'images/easy.png' %}" style="width:350px;">
      <h3>Удобство</h3>
      <p style="padding:0 45px; font-size: 120%">От начала исследований вас отделяет одна кнопка</p>
      </div>
      <div class="col-sm-4 text-center">
      <img class="center-block ttrio" src="{% static 'images/lock.png' %}" style="width:350px;">
      <h3>Безопасность</h3>
      <p style="padding:0 45px; font-size: 120%">Ваши сервера защищены персональным паролем</p>
      </div>
      <div class="col-sm-4 text-center">
      <img class="center-block ttrio" src="{% static 'images/share-512.png' %}" style="width:350px;">
      <h3>Открытость</h3>
      <p style="padding:0 45px; font-size: 120%">Делитесь доступом с коллегами</p>
      </div>
      </div>
      </div>
      </div>
      <div class="spa70"></div>
      </div>
      </section>


      <footer>
      <div class="footer-top">
      <div class="container" style="color:white; padding-top:10px">
      <div class="row">
      <div class="col-lg-12 copyright">
      2015 &copy; Дай погонять!
      <div style="align:right;">Разработано при поддержке "<a href="http://miptcloud.com/">Лаборатории</a> облачной инфраструктуры
      для интеллектуальных цифровых предприятий"</div>
      </div>
      </div>
      </div>
      </div>
      </footer>
    </div>

{% endblock %}
