{% extends 'base_simple_new.html' %}
{% load staticfiles %}

{% block header %}
<div class="header">
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="nav navbar-nav navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#navbar-collapse-01">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">Open Stack</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="{% url 'faq' %}">FAQ</a>
                    </li>
                    <li><a href="{% url 'index' %}">About us</a></li>
                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <!-- /navbar -->
</div>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
<footer>
    <div class="container">
        <div class="row">
            <p>
                Разработано при поддержке "Лаборатории облачной инфраструктуры для интеллектуальных
                цифровых предприятий"
            </p>
            <p>
                2015 ©
            </p>
        </div>
    </div>
</footer>
{% endblock %}