{% extends "base_new.html" %}
{% load staticfiles %}

{% block title %}OSR{% endblock %}

{% block content %}
<div class="container">
    <div class="demo-headline">

        <div class="row">
            <div class="col-xs-3">
                <div class="demo-logo">
                    <div class="logo"></div>
                </div>
            </div>
            <div class="col-xs-7">
                <div class="demo-logo demo-text">
                    Open Stack
                    <small>Our resources, your knowledge</small>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row row-colored">

    <div class="container">

        <div class="col-md-4">
            {% include 'landing/start_work_button.html' with label='Start on RStudio' text='Launch your own RStudio on the server' img='rstudio.png' %}
        </div>

        <div class="col-md-4">
            {% include 'landing/start_work_button.html' with label='Start on Jupyter' text='Get access to your own Jupyter server right now!' img='jupiter.png'%}
        </div>

        <div class="col-md-4">
            {% include 'landing/start_work_button.html' with label='Start with tutorial' text='We choose best tutorials for you getting started' img='python.png'%}
        </div>
    </div>
</div>
<!-- /download area -->
<div class="container">
    <div class="row demo-tiles">
        <div class="col-xs-3">
            <div class="tile">
                <img src="{% static 'images/icons/svg/clipboard.svg' %}" alt="Удобство"
                     class="tile-image big-illustration">

                <h3 class="tile-title">Convenience</h3>

                <p>The only one button to start <br/>your research</p>
            </div>
        </div>

        <div class="col-xs-3">
            <div class="tile">
                <img src="{% static 'images/icons/svg/retina.svg' %}" alt="Безопасность" class="tile-image">

                <h3 class="tile-title">Security</h3>

                <p>Your servers protected by <br/>personal password</p>
            </div>
        </div>

        <div class="col-xs-3">
            <div class="tile">
                <img src="{% static 'images/icons/svg/pencils.svg' %}" alt="Открытость" class="tile-image">

                <h3 class="tile-title">Easy to share</h3>

                <p>Share access with your colleagues and friends</p>
            </div>
        </div>

        <div class="col-xs-3">
            <div class="tile tile-hot">
                <img src="{% static 'images/icons/svg/ribbon.svg' %}" alt="ribbon" class="tile-hot-ribbon">
                <img src="{% static 'images/icons/svg/loop.png' %}" alt="Trial" class="tile-image">

                <h3 class="tile-title">Trial</h3>

                <p>Free for the first 8 hours, <br/>every 8 hours</p>
            </div>

        </div>
    </div>
    <!-- /tiles -->
</div>

{% endblock %}