{% load staticfiles %}

<div class="row">
    <div class="col-md-8 col-centered">
        <div class="demo-download">
            <img src="{{ STATIC_URL}}images/icons/{{img}}"/>
        </div>

        <a href="{% url 'registration_register' %}" class="btn btn-primary btn-lg btn-block">{{ label }}</a>

        <p class="demo-download-text">{{ text }}</p>
    </div>

</div>
