{% extends "profile/base.html" %}

{% block title %}
	Песочница
{% endblock %}

{% block content %}
	<p>Вы можете воспользоваться предыдущей версией "Дай погонять!"</p>
	<p>Открыть <a target="_blank" href="http://old.jupyter.miptcloud.com">песочницу</a></p>
{% endblock %}