html{overflow-y:scroll overflow-x:hidden;}@media only screen and (max-width: 1024px)
{overflowing_content_div{overflow:hidden;}}h4{line-height:2}h5{line-height:2;font-size:1em;}h6{line-height:0;font-size:18px;}h6.ann01{line-height:1.4;}.text-detail{font-size:0.8em;}.text-9{font-size:0.9em;}.text-8{font-size:0.8em;line-height:1.5em;}.text-7{font-size:0.7em;}.text-read{font-size:0.95em;}.text-bold{font-weight:bold;}.text-dark{font-weight:400;color:black;}.text-tutum{font-weight:400;color:#0096E5;}.text-sky{font-weight:400;color:#66BCEB;}.text-1em{font-size:1em;}.text-2em{font-size:2em;}.text-3em{font-size:3em;}.text-3-5em{font-size:3.5em;}.text-4em{font-size:4em;}.ann01{padding:0;}.port-left{float:left;width:40px;}.port-right{float:right;width:40px;}.box-mainfeature{padding:10px 20px 0 20px;}.tcircle{color:#FFF;width:auto;height:auto;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;font-size:11px;font-weight:200;text-align:center;cursor:pointer;line-height:normal;margin:0 10px 0 0;float:left;padding:4px;}.tplus{color:#FFF;width:auto;height:auto;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;font-size:11px;font-weight:200;text-align:center;cursor:pointer;line-height:normal;margin:0 4px 0 0;float:left;padding:4px;}.ttrio{padding:0 70px;}.spa200{padding:100px 0;}.spa100{padding:50px 0;}.spa75{padding:37px 0;}.spa50{padding:25px 0;}.spa25{padding:12px 0;}.spa10{padding:4px 0;}.spa70{padding:35px 0;}.spa30{padding:7px 0;}@media(min-width:550px){  /*extended*/

.spa100{padding:25px 0;}
.spa70{padding:17px 0;}
.spa30{padding:7px 0;}

}


/*TABS*/


.feature-tab{width:33.33%;
  background-color:#CAE3EE;
  float:left;
  padding:8px 1px;
  text-align:center;

}

.clean-on{text-decoration: none; color:#0096E5;}
.clean-on:hover{text-decoration: none; color:#0096E5;}
.ftab-on{background-color:#FFF; box-shadow: 0px 3px 5px #CCC; padding:9px 1px; margin:0 0 10px 0;}
.ftab-on:hover{background-color:#FFF;}

.clean-off{text-decoration: none; color:#B6CCD6;}
.clean-off:hover{text-decoration: none; color:#7F9BA5;}
.ftab-off{background-color:#EEF4F5;}
.ftab-off:hover{background-color:#DCEDF0;}

.border-on{border: 1px solid #0096E5;
/*border-width: 0 1px 1px 1px ;*/
border-width: 0 1px 5px 1px;

}
.border-off{border: 1px solid #B6CCD6;
/*border-width: 0 1px 1px 1px ;*/
border-width: 0 1px 5px 1px;
}


/*BACKS*/
.bg-tutum{background-color:#0096E5;}
.bg-tutum2{background-color:#cae3ee;}
.bg-white{background-color:#FFF;}
.bg-blue{background-color:#0096E5;}
.bg-red{background-color:red;}
.bg-orange{background-color:orange;}
.bg-gray{background-color:#CCC;}



.bg-a{background-color:#7C0F7D;}
.bg-b{background-color:#FBAB28;}
.bg-c{background-color:#D11A33;}
.bg-d{background-color:#5BB43F;}
.bg-e{background-color:#4db7ad;}
.bg-f{background-color:#0096E5;}



.thow{font-size:3em;}
.text-a{color:#7C0F7D;}
.text-b{color:#FBAB28;}
.text-c{color:#D11A33;}
.text-d{color:#5BB43F;}
.text-e{color:#4db7ad;}
.text-f{color:#0096E5;}
.text-g{color:#CCC;}



.land-img{
  width: 600px;
  /*float:right;*/
  text-align: right;
}

.image-container1 {
    width:60%;
    position:absolute;
    float:right;
    right:-90px;
    clear:both;
}

.stick-right{
right: 50%;
position: absolute;

}
.stick-left{
left: 50%;
position: absolute;

}


.quotebox {
    font-family: 'Roboto Slab', sans-serif; font-weight: 300;
    font-size: 0.9em;
    position: relative;
    padding: 10px 15px;
    text-align: center;
    border-radius: 20px;
    /* background-color:#F3F7F9;*/
    text-align:left;


}





#footer .footer-top {
    background: none repeat scroll 0% 0% #F2F2F2;
    font-size: 12px;
    line-height: 21px;
    padding: 50px 0px 13px;
}
#footer .footer-bottom {
    background: none repeat scroll 0% 0% #F7F7F7;
    border-top-width: 1px;
    font-size: 11px;
    line-height: 17px;
    padding: 21px 0px 20px;
}
.sidebar .newsletter input {
    margin: 0px;
    padding-right: 43px;
}
#footer {
    color: #7F7F7F;
}

.stick-left{
position: absolute;
left: 50%;}

.stick-right{
position: absolute;
right: 50%;}


/* sidetab*/
    .tabwidth{width:100%;}


/*interchangeable divs*/

    .tbox{width:100%; padding:30px 20px 10px 20px;}
    .tbox-a1{ float:left; }
    .tbox-a2{ float:right; }

    .tbox-b1{ float:left;}
    .tbox-b2{ float:right;}

@media(min-width:550px){  /*extended*/

    .tbox{width:50%; padding:0 20px;}

    .tbox-a1{ float:top;}
    .tbox-a2{ float:bottom;}

    .tbox-b1{ float:right;}
    .tbox-b2{ float:left;}

}


/*CUSTOM TABS*/

/* custom inclusion of right, left and below tabs */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}



/*Cid Additions*/
.bg-banner-tut01{padding:54px 0 !important; background:url(../images/back01.jpg) no-repeat fixed; color:#CCC;}
.bg-banner-tut02{padding:54px 0 !important; background:url(../images/back02.jpg) no-repeat fixed; color:#CCC;}

.bg-tut1{background:#E4EFF8; border-top:1px solid #f3f3f3; border-bottom:1px solid #f3f3f3;}
.bg-tut1{background:#E4EFF8; border-top:1px solid #f3f3f3; border-bottom:1px solid #f3f3f3;}
.bg-tut2{padding:54px 0 !important; background:url(../images/back05.jpg) no-repeat fixed; color:#E4EFF8;}

.float-bottom{position:relative; bottom:0;}
.float-right{float:right;}
.float-left{float:left;}
.text-white{color:white;}
.dense{font-size:0.9em; line-height:1.2em;}


/* COLORS: l=light, t=transparent, d=dark, c=contrast*/
a.ann01{background: none; color:#FFF; text-decoration:none;}
a.ann01:hover {color:#FFF; text-decoration:underline;}

.c-1{color:#19172f;}
.c-2{color:#07a2ca;}

.qt-pad{padding:10px 0 0 50px;}


.bg-footer{background:#000; border-top:1px solid #f3f3f3; border-bottom:1px solid #f3f3f3;}




/*STYLE BLOCKINGS*/

div.tabbable.tabs-left div.tab-content {
    background-color:#EEF1F2;
    border-width: 1px 1px 1px 0px;
    border-style: none;
    border-color: none;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 0px 0px 2px 2px;
    box-shadow: none;
    padding: 15px;
}


.top-header {
    border-bottom: 1px solid #EEE;
    background: none repeat scroll 0% 0% #EEE;
}



/*FIX TO HOVER*/

.navbar-white .dropdown-menu > li > a{color:green; padding:8px 15px;}
.navbar-white .dropdown-menu > li > a:hover{background:#0096e5; color:blue;}




@media (min-width: 767px) {  /*WHEN FULL*/


.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

}


